// start .sLicenses
.sLicenses {
	
	&__row {
		border-top: solid 1px #ebebeb;
		border-bottom: solid 1px #ebebeb;
		margin-top: -1px;
		padding-top: rem(12);
		padding-left: rem(11);
		padding-right: rem(11);
		padding-bottom: rem(24);
		@include media-breakpoint-up(lg) {
			padding-top: rem(24);
			padding-left: rem(22);
			padding-right: rem(23);
		}

		&:last-child {
			margin-bottom: rem(40);
		}
		@include media-breakpoint-down(lg) {
			text-align: center;
		}
	}

	&__oldPrice {
		color: $primary;
		font-size: $h6-font-size;
		font-weight: 500;
	}

	&__economy {
		background-color: #f7f0a2;
		border-radius: $border-radius;
		display: inline-block;
		padding: rem(2) rem(5);
		font-size: 12px;
		font-weight: 500;
	}

	&__price {
		font-size: $h5-font-size;
		font-weight: 600;
	}

	&__title {
		font-size: $h6-font-size;
		font-weight: 500;
		@include media-breakpoint-down(lg) {
			margin-bottom: 1rem;
		}
	}

	&__periodWrap {
		display: flex;
		align-items: center;
	}

	&__period {
		margin-right: rem(23);
	}

	&__btnCol {
		@include media-breakpoint-up(lg) {
			text-align: right;
		}
		@include media-breakpoint-down(lg) {
			padding-top: 1rem;
		}
	}

	.tabs {
		&__content {
			padding-bottom: rem(24);
		}
	}

	.form-wrap {
		padding-bottom: rem(17);

		&__title {
			margin-right: rem(20);
		}

		&__input-wrap {

		}

		&__input {
			outline: none !important;
			height: 55px;
			border-radius: $border-radius;
			border: 1px solid $light2;
			width: 210px;
			padding: rem(5) rem(12);
			color: $gray-700;
		}
	}

	&__col {
		@include media-breakpoint-up(xxl) {
			padding-left: rem(40);
		}
		@include media-breakpoint-down(xsm) {
			padding-bottom: rem(10);
		}
	}

	.solutionsMenu {
		margin-bottom: rem(30);

		&__item {
			margin-bottom: rem(8);
		}
	}




	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sLicenses