mixin sLicenses(data)
	// start sLicenses
	+b.SECTION.sLicenses.section#sLicenses&attributes(attributes)
		.container
			+b.section-title
				h2 Лицензии «1С-Битрикс: Управление сайтом»
				
			.tabs
				+b.solutionsMenu.tabs__caption
					+e.item.tabs__btn.active Лицензия 
					+e.item.tabs__btn Лицензия
					+e.item.tabs__btn Продление
					+e.item.tabs__btn Дополнительные сайты
				div
					mixin tabs(i)
						.tabs__content&attributes(attributes)
							+licensesRow(`Программа для ЭВМ "1С-Битрикс: Управление сайтом". Лицензия Старт ${i}`,'5 400 рублей','sale')
							+licensesRow(`Программа для ЭВМ "1С-Битрикс: Управление сайтом". Лицензия Стандарт ${i}`,'15 900 рублей')
							+licensesRow(`Программа для ЭВМ "1С-Битрикс: Управление сайтом". Лицензия Малый бизнес ${i}`,'35 900 рублей')
							+licensesRow(`Программа для ЭВМ "1С-Битрикс: Управление сайтом". Лицензия Бизнес ${i}`,'72 900 рублей')
					+tabs(1).active
					+tabs(2)
					+tabs(3)
					+tabs(4)
			+b.section-title.mb-2
				h2 Лицензии «1С-Битрикс: Энтерпрайз»
			+licensesRow('Программа для ЭВМ "1С-Битрикс: Управление сайтом". Лицензия Старт','5 400 рублей','sale')(class="mb-35")
			.mb-60
				p Продукт &laquo;1С-Битрикс: Управление сайтом&raquo; поставляется в&nbsp;электронном виде.<br> После оплаты заказа вы&nbsp;получите письмо с&nbsp;лицензионным ключом продукта, ссылками на&nbsp;загрузку дистрибутивов, логин и&nbsp;пароль доступа к&nbsp;центру поддержки, инструкции по&nbsp;загрузке и&nbsp;установке.
			+b.section-title
				h2 Лицензии 1С-Битрикс24 облако
			+form-wrap()
				+select('Цена за месяц при покупке:','на 2 года','на 3 года','на 5 лет','на 1 год')
			+licensesRow('Старт+','990 рублей/мес.','sale')
			+licensesRow('CRM+','2 990 рублей/мес.','sale')
			+licensesRow('Задачи+','2 990 рублей/мес.','sale')
			+licensesRow('Команда','5 990 рублей/мес.','sale')
			+licensesRow('Компания','11 990 рублей/мес.','sale')(class="mb-40")
			.mb-45
				p Лицензии &laquo;Корпоративный портал&raquo; позволяют подключить к&nbsp;порталу столько сотрудников компании, сколько указано в&nbsp;названии лицензии. Лицензия CRM поддерживает максимально 12&nbsp;сотрудников, а&nbsp;лицензия Энтерпрайз&nbsp;&mdash; 1000&nbsp;сотрудников.<br> Для лицензий CRM и&nbsp;Корпоративный портал увеличить число пользователей можно только переходом на&nbsp;более старшую лицензию. Расширение числа пользователей, наряду с&nbsp;другими возможностями для крупных проектов, возможно только в&nbsp;лицензии Энтерпрайз.
			.alert.alert-info(role="alert") Если вы&nbsp;приобретаете лицензии Энтерпрайз через партнеров 1С-Битрикс обязательно убедитесь, что партнер имеет компетенцию Крупные корпоративные внедрения. Поставка лицензий без данной компетенции не&nbsp;может быть выполнена.
	// end sLicenses

mixin licensesRow(t,pr,sale)
	+e.row.row.justify-content-between.align-items-center&attributes(attributes)
		.col-lg
			+e.title!= t
		if sale
			+e.col.col-xsm.col-lg-2
				+e.oldPrice #[span.tdlt 1 499 900]  рублей
				+e.economy Экономия -33% 
		.col-xsm.col-lg-2
			+e.price= pr
		+e.btnCol.col-lg-auto
			+e.btn.btn.btn-primary(href="#") Купить
