mixin sPreview(pic="prev-support.png", title=`Техническая поддержка сайтов &mdash;&nbsp;нужна&nbsp;ли&nbsp;она?`)
	// start sPreview
	+b.SECTION.sPreview&attributes(attributes).section#sPreview
		.container
			+e.block
				+icon('logo')
				.row
					+e.imgCol.col-md-auto
						+pic(pic,'','')
					.col
						+e.content
							h2!= title
							+e.toggle-block--js
								if block
									block
								else
									p Наш ответ: «Да! Нужна! Нужна обязательно!». Для такого утверждения есть множество причин:  <br> 1. Поддержка новостей и статей в актуальном состоянии: Почти каждый пользователь, увидев на сайте новость или статью с устаревшей датой, покинет сайт. <br> 1. Поддержка новостей и статей в актуальном состоянии: Почти каждый пользователь, увидев на сайте новость или статью с устаревшей датой, покинет сайт. <br> 1. Поддержка новостей и статей в актуальном состоянии: Почти каждый пользователь, увидев на сайте новость или статью с устаревшей датой, покинет сайт. <br> 1. Поддержка новостей и статей в актуальном состоянии: Почти каждый пользователь, увидев на сайте новость или статью с устаревшей датой, покинет сайт. 
							//- +e.more--js(href="#") Подробнее 
	// end sPreview