mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row.justify-content-between
				.col-auto
					+soc()
				.col-auto
					+e.tel(href="tel:")
						+icon('tel')
						span +7 (499) 938 78 38
