.footer {
	background-color: $dark;
	padding-top: calc(var(--sPB) / 2);
	padding-bottom: var(--sPB);
	
	
	&__tel {
		color: #fff;
		@extend .h6;
		display: flex;
		align-items: center;
		.icon {
			font-size: rem(17);
			color: $primary;
			margin-right: rem(13);
		}
	}



@include media-breakpoint-up(xs) {}
@include media-breakpoint-between(md, xl) {}
@include media-breakpoint-only(xl) {}
@include media-breakpoint-down(xs) {}
}
