mixin asideDropdown(data)
	// start asideDropdown
	+b.asideDropdown#asideDropdown&attributes(attributes)
		h2 Описание модулей
		+e.wrapper
			mixin itemDrop(t)
				+b.drop-accardion-block
					+e.title.drop-accardion-js
						+icon("plus-drop")
						= t 
					+e.body.drop-accardion-toggle-js
						block
			+itemDrop(`Шапка сайта`)
				a(href="#") Акционный слайдер
				a(href="#") Блок с преимуществами hover
				a(href="#") Статьи / Новости / Блог
				a(href="#") Популярные категории
				a(href="#") Новинки
				a(href="#") Хиты продаж
				a(href="#") Рекомендуемые товары
				a(href="#") Распродажа
				a(href="#") Акции
				a(href="#") Товары по акции
				a(href="#") Отзывы о магазине
				a(href="#") Бренды
				a(href="#") Наши партнеры
				a(href="#") Фиксированная корзина
			+itemDrop(`Меню сайта`)
				a(href="#") Акционный слайдер
				a(href="#") Блок с преимуществами hover
				a(href="#") Статьи / Новости / Блог
				a(href="#") Популярные категории
				a(href="#") Новинки
				a(href="#") Хиты продаж
				a(href="#") Рекомендуемые товары
				a(href="#") Распродажа
				a(href="#") Акции
				a(href="#") Товары по акции
				a(href="#") Отзывы о магазине
				a(href="#") Бренды
				a(href="#") Наши партнеры
				a(href="#") Фиксированная корзина
			+itemDrop(`Главная страница`)
				a(href="#") Акционный слайдер
				a(href="#") Блок с преимуществами hover
				a(href="#") Статьи / Новости / Блог
				a(href="#") Популярные категории
				a(href="#") Новинки
				a(href="#") Хиты продаж
				a(href="#") Рекомендуемые товары
				a(href="#") Распродажа
				a(href="#") Акции
				a(href="#") Товары по акции
				a(href="#") Отзывы о магазине
				a(href="#") Бренды
				a(href="#") Наши партнеры
				a(href="#") Фиксированная корзина
			+itemDrop(`Каталог категорий (страница)`)
				a(href="#") Акционный слайдер
				a(href="#") Блок с преимуществами hover
				a(href="#") Статьи / Новости / Блог
				a(href="#") Популярные категории
				a(href="#") Новинки
				a(href="#") Хиты продаж
				a(href="#") Рекомендуемые товары
				a(href="#") Распродажа
				a(href="#") Акции
				a(href="#") Товары по акции
				a(href="#") Отзывы о магазине
				a(href="#") Бренды
				a(href="#") Наши партнеры
				a(href="#") Фиксированная корзина
			+itemDrop(`Каталог товаров (страница)`)
				a(href="#") Акционный слайдер
				a(href="#") Блок с преимуществами hover
				a(href="#") Статьи / Новости / Блог
				a(href="#") Популярные категории
				a(href="#") Новинки
				a(href="#") Хиты продаж
				a(href="#") Рекомендуемые товары
				a(href="#") Распродажа
				a(href="#") Акции
				a(href="#") Товары по акции
				a(href="#") Отзывы о магазине
				a(href="#") Бренды
				a(href="#") Наши партнеры
				a(href="#") Фиксированная корзина

	// end asideDropdown