mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+b.section-title
				h2 Контакты
				
			.tabs
				+b.solutionsMenu.tabs__caption
					+e.item.tabs__btn.active Москва 
					+e.item.tabs__btn Ташкент
				div
					mixin tabs()
						.tabs__content&attributes(attributes)
							.row
								+e.textCol.col-md-4
									+e.item
										+icon('location')
										| 143441 Московская область, Красногорский район, п/о Путилково, 72 км МКАД Бизнес-парк “Greenwood” 
									+e.item
										+icon('phone')
										+e.tel(href="#") +7 (499) 938-78-38
										+e.tel(href="#") +7 (499) 938-78-38
									+e.item
										+icon('mail')
										+e.mail(href="mailto:info@webpult.pro") info@webpult.pro
									+e.item
										+icon('clock')
										| Пн - Пт с 09:00 до 18:00. Суббота - в дежурном режиме. Воскресенье - выходной.
									//- +btn('Обратная связь')
								.col
									+e.mapWrap
										<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae431e4855d26c9dbab0adea0e83dbafffd99d8541ebe1afd15b9e2f7d6bca3d5&amp;source=constructor"></iframe>
					+tabs().active
					+tabs()
	// end sContact