// start .sContact
.sContact {
	padding-top: var(--sPB);

	.section-title {
		padding-bottom: calc(var(--sTPB) * 5);
	}

	&__item {
		display: flex;
		margin-bottom: rem(30);
		font-weight: 500;
		line-height: calc(22 / 15);
	}

	&__btn {
		margin-top: rem(10);
	}

	&__iconWrap {
		flex-shrink: 0;
		margin-right: rem(12);
		width: rem(24);
		margin-top: rem(-5);
		.icon {
			color: $primary;
			font-size: rem(23);
		}

		.icon-mail {
			font-size: rem(20);
		}
	}

	&__mapWrap {
		height: 100%;
		@include block(1142,477);
		iframe, script {
			@include a-cent;
			width: 100% !important;
			height: 100% !important;
		}
		min-height: rem(400);
	}

	.tabs {
		&__content {
			
			@include media-breakpoint-up(lg) {
			padding: rem(40) rem(65) rem(40) rem(39);
			
		}
		padding: rem(30) rem(15);
		}

		&__btn {
			font-size: $h6-font-size;
		}
	}

	.solutionsMenu {
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(45);
		}
	}

	&__textCol {
	}

	.row {
		@include roww(0);
		border: 1px solid #ebebeb;
		border-radius: $border-radius;
	}

	&__tel {
		display: block;
		color: $body-color;
	}

	&__mail {
		text-decoration: underline;
	}


	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContact