.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-down {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-arrow-l {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-arrow-r {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-attention {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-basket {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-check_wp {
	font-size:(9/10)*1rem;
	width:(11.2/9)*1em;
}
.icon-clock {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-cloud {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-configuration {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-drop {
	font-size:(5/10)*1rem;
	width:(3/5)*1em;
}
.icon-fb {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-information {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-instagram {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-installment {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-location {
	font-size:(26.165/10)*1rem;
	width:(18.667/26.165)*1em;
}
.icon-logo {
	font-size:(82.3/10)*1rem;
	width:(68.4/82.3)*1em;
}
.icon-mail {
	font-size:(16/10)*1rem;
	width:(20/16)*1em;
}
.icon-minus {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-phone {
	font-size:(20/10)*1rem;
	width:(26.64/20)*1em;
}
.icon-plus {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-plus-drop {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-question {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-server {
	font-size:(70.6/10)*1rem;
	width:(75.9/70.6)*1em;
}
.icon-shopping-cart {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-tel {
	font-size:(30/10)*1rem;
	width:(28/30)*1em;
}
.icon-telegram {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-twitter {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-user {
	font-size:(500/10)*1rem;
	width:(484.38/500)*1em;
}
.icon-viber {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-vk {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-web-design {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-whatsapp {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
