mixin itemDrop(t,count)
	+b.drop-accardion-block
		+e.title.drop-accardion-js
			+icon("plus-drop")
			strong= t
			if count
				span= count
		+e.body.drop-accardion-toggle-js
			block
mixin sCalcBody(h2="Соберите свой интернет-магазин", center, p)
	// start sCalc
	+b.SECTION.sCalc.section#sCalc&attributes(attributes)
		.container
			-
				let c = (center || null)
			+b.section-title(class= c)
				h2= h2
				if p
					p!= p
			if block
				block
			else
				.row
					.col-xl-8
						.panel-white.mb-4
							mixin group()
								.colum-2
									+in-c()(checked)
										strong Адаптивная верстка
										|  под все типы устройств
									+in-c()(checked disabled)
										strong Превью разделов каталога. 
										| Плитки с фото и описанием. Вывод нужных разделов отмечается в админпанели

									+in-c
										strong Умный поиск 
										| (с выводом подходящих товаров по совпадению букв/слов/цифр) со страницей результата поиска

									+in-c
										strong Блок новостей 
										| (выводятся крайние добавленные)

									+in-c
										strong Стандартный состав карточки товара: 
										| фотогалерея, характеристики (текстом/цифрами), название, краткое описание, полное описание

									+in-c
										strong Слайдер на главной 
									+in-c
										strong Анонсирование товаров 
										| на главной странице по двум признакам: Хиты продаж, Новинки 
									+in-c
										strong Превью карточек с табами 
										| (Хит, Новинка, Акция, Распродажа)

									+in-c
										strong Блок соцсетей 
										| (переход в группу)

									+in-c
										strong Торговые предложения 
										| (цена меняется от размера, цвета, и т.д.)
							+itemDrop('Главная страница  ','(10)')
								+group()
										
							+itemDrop('Каталог  ','(4)')
								+group()
							+itemDrop('Каталог  ','(19)')
								+group()
							+itemDrop('Карточка товара  	','(19)')
								+group()
							+itemDrop('Корзина 	',' (1)')
								+group()
							+itemDrop('Оформление заказа  ','(10)')
								+group()
							+itemDrop('Личный кабинет ',' (5)')
								+group()
							+itemDrop('Лицензия','')
								+group()
					.col
						+e.aside.panel-white
							+e.title Итоговая стоимость Интернет-магазина 
							.small.mb-5 С учетом выбранных модулей
							+e.title.mb-5
								span.text-with-border 250 000 рублей
							+btn-modal('Заказать интернет-магазин',`<span class="text-primary">Заказать</span> интернет-магазин`).btn-block

	// end sCalc
mixin sCalc(data)
	+sCalcBody()
mixin sCalc-04(data)
	+sCalcBody("Стоимость создания элементов  фирменного стиля:",'text-center',`Здесь вы&nbsp;можете выбрать необходимые вам элементы для оформления, сразу увидеть цену, а&nbsp;также оставить заявку на&nbsp;создание фирменного стиля.`).bg-white
		.row
			.col-xl-8
				+b.panel-white--fs.mb-4
					.colum-3
						mixin item(t)
							div
								a.mr-2(href="img/@2x/solutions-2.jpg" data-fancybox="gal")
									+icon("information")
								+in-c()(checked)= t
						+item('Логотип')
						+item('Гайдлайн ')
						+item('Визитка')
						+item('Папка')
						+item('Меню ресторана')
						+item('Упаковки')
						+item('Этикетка')
						+item('Буклет')
						+item('Пакет')
						+item('Кружка')
						+item('Флаер')
						+item('Плакат')
						+item('Логотип')
						+item('Папка')
						+item('Визитка')
						+item('Гайдлайн ')
						+item('Меню ресторана')
						+item('Упаковки')
						+item('Этикетка')
						+item('Буклет')
						+item('Пакет')
						+item('Кружка')
							 
					 
			.col
				+e.aside.panel-white.bg-light2
					+e.title Итоговая <br> стоимость заказа
					.small.mb-5 С учетом выбранных элементов
					+e.title.mb-5
						span.text-with-border 250 000 рублей
					+btn-modal('Заказать фирменный стиль',`<span class="text-primary">Заказать</span> фирменный стиль`).btn-block
		p Абсолютно все цены на разработку фирменного стиля у нас фиксированы и прозрачны. При выборе заказе оформления элементов в нашей компании, вы никогда не столкнетесь с ситуацией увеличения предложенной стоимости. Исключением являются цены с частицей «от», но ВебПульт гарантирует то, что не возьмет с вас ни единого рубля, который не будет оправдан. Стоимость на создание фирменного стиля элементов с частицей «от», а также элементов, которые не представлены в нашей таблице будет сформирована исключительно из трудозатрат наших штатных графических дизайнеров. Оставьте заявку на расчет стоимости и наши менеджеры свяжутся с вами в ближайшее время.