mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			.row
				.col-6
					+b.section-title
						h1 Сайты на 1С-Битрикс в рассрочку
						p Мы предлагаем сайты и Интернет-магазины в беспроцентную рассрочку на 1С-битрикс!
					+e.buttons
						+e.btn.btn.btn-primary(href="#") Заказать сайт
						+e.details.btn.btn-light(href="#") Подробнее
				.col
					+pic('headerPic.png')
	// end headerBlock