mixin headerBlockBody()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		block


	// end headerBlock
mixin headerBlock()
	+headerBlockBody().--main
		+e.slider.swiper-container.gallery-top
			.swiper-wrapper
				mixin slide()
					+e.slide.swiper-slide
						.container
							.row
								.col-xsm-7.col-xl
									+e.content
										+b.section-title
											.h1 Сайты на 1С-Битрикс в рассрочку
											p Мы предлагаем сайты и Интернет-магазины в беспроцентную рассрочку на 1С-битрикс!
										+e.buttons.d-none.d-lg-block
											+e.btn.btn.btn-primary.link-modal(href="#modal-call" data-title=`<span class="text-primary">Заказать </span> сайт`) Заказать сайт
											+e.details(href="#") Подробнее
								+e.picCol.col-xsm-5.col-xl-6
									//- +pic('headerPic.png')
									picture
										source.swiper-lazy(srcset="#" data-srcset=`img/@2x/webp/headerPic.webp` type="image/webp")
										img.swiper-lazy(src="#" data-src=`img/@2x/headerPic.png`, alt="")
				+slide
				+slide
				+slide
				+slide 
		.container
			+e.buttons.d-lg-none
				+e.btn.btn.btn-primary.link-modal(href="#modal-call" data-title=`<span class="text-primary">Заказать </span> сайт`) Заказать сайт
			block