mixin item-circle(data)
	+b.item-circle
		+e.count 
			.pieProgress(role='progressbar' data-goal= data.size   data-step='2'  )
		+e.text!= data.p
			if data.alert
				span(data-alert= data.alert)
					+icon("question")
	// /.item-circle

mixin sHowOrderBody()
	// start sHowOrder
	+b.SECTION.sHowOrder.section#sHowOrder&attributes(attributes)
		.container
			block
	// end sHowOrder
	
mixin sHowOrder(data)
	+sHowOrderBody()
		+b.section-title.text-center
			h2 Как заказать техническую подержку сайта на&nbsp;1С-Битрикс:
			
		+b.row-circle-wrap
			+b.row-circle.row
				+b.col-circle.col-lg-3.col-xsm-6
					+item-circle({ 
						size: '25',
						p:`Выбор пакетного предложения или обсуждение индивидуального`,
					})
				+b.col-circle.col-lg-3.col-xsm-6
					+item-circle({ 
						size: '50',
						p:`Составление договора на&nbsp;техническую поддержку сайта`,
					})
				+b.col-circle.col-lg-3.col-xsm-6
					+item-circle({ 
						size: '75',
						p:`Оплата стоимости поддержки по&nbsp;договору`,
					})
				+b.col-circle.col-lg-3.col-xsm-6
					+item-circle({ 
						size: '100',
						p:`Получение ежемесячной отчетности о&nbsp;проделанной работе`,
					})
		+b.content-block
			p Проделанная работа будет подробно расписана в&nbsp;отчете проекта. Мы&nbsp;берем деньги только за&nbsp;то, что делаем&nbsp;и, благодаря отчету, наши заказчики видят за&nbsp;что платят.
			a.btn.btn-primary.link-modal(href="#modal-call" data-title='<span class="text-primary">Заказать</span>  тех. поддержку ') Заказать тех. поддержку 

mixin sHowOrder-02(data)
	+sHowOrderBody()
		+b.section-title.text-center
			h2 Схема оплаты
			p Для удобства наших заказчиков мы&nbsp;разработали удобную схему оплаты, которая исключает абсолютно все возможные риски для обеих сторон. Оплату мы&nbsp;&laquo;разбиваем&raquo; на&nbsp;этапы выполняемых работ:
			
		+b.row-circle-wrap
			+b.row-circle.row
				+b.col-circle.col-lg-3.col-xsm-6
					+item-circle({  
						size: '25',
					p:`Техническое задание, включая прототипы и&nbsp;дизайн-макеты`, 
					alert:`Lorem ipsum dolor sit amet consectetur adipisicing elit.`})
				+b.col-circle.col-lg-3.col-xsm-6
					+item-circle({  
						size: '50',
					p:`Верстка макетов`, 
					alert:`Lorem ipsum dolor sit amet consectetur adipisicing elit.`	})
				+b.col-circle.col-lg-3.col-xsm-6
					+item-circle({ 
						size: '75',
					p:`Программирование`,
					alert:`Lorem ipsum dolor sit amet consectetur adipisicing elit.` })
				+b.col-circle.col-lg-3.col-xsm-6
					+item-circle({ 
						size: '100',
					p:`Тестирование`,
					alert:`Lorem ipsum dolor sit amet consectetur adipisicing elit.`})
		+b.content-block
			p Каждый из&nbsp;этапов будет подробно расписан в&nbsp;смете расчета проекта. Мы&nbsp;берем деньги только за&nbsp;то, что делаем&nbsp;и, благодаря смете, наши заказчики видят за&nbsp;что платят.
			a.btn.btn-primary.link-modal(href="#modal-call" data-title='<span class="text-primary">Заказать</span>  интернет-магазин') Заказать интернет-магазин
	// end sHowOrder
mixin sHowOrder-03(data)
	+sHowOrderBody()
		+b.section-title.text-center
			h2 Схема оплаты
			p Для удобства наших заказчиков мы&nbsp;разработали удобную схему оплаты, которая исключает абсолютно все возможные риски для обеих сторон. Оплату мы&nbsp;&laquo;разбиваем&raquo; на&nbsp;этапы выполняемых работ:
			
		+b.row-circle-wrap
			+b.row-circle.row
				+b.col-circle.col-lg-3.col-xsm-6
					+item-circle({  
						size: '25',
					p:`Техническое задание, включая прототипы и&nbsp;дизайн-макеты`, 
					alert:`Lorem ipsum dolor sit amet consectetur adipisicing elit.`})
				+b.col-circle.col-lg-3.col-xsm-6
					+item-circle({  
						size: '50',
					p:`Верстка макетов`, 
					alert:`Lorem ipsum dolor sit amet consectetur adipisicing elit.`	})
				+b.col-circle.col-lg-3.col-xsm-6
					+item-circle({ 
						size: '75',
					p:`Программирование`,
					alert:`Lorem ipsum dolor sit amet consectetur adipisicing elit.` })
				+b.col-circle.col-lg-3.col-xsm-6
					+item-circle({ 
						size: '100',
					p:`Тестирование`,
					alert:`Lorem ipsum dolor sit amet consectetur adipisicing elit.`})
		+b.content-block
			p Каждый из&nbsp;этапов будет подробно расписан в&nbsp;смете расчета проекта. Мы&nbsp;берем деньги только за&nbsp;то, что делаем&nbsp;и, благодаря смете, наши заказчики видят за&nbsp;что платят.
			a.btn.btn-primary.link-modal(href="#modal-call" data-title='<span class="text-primary">Заказать</span>  лендинг') Заказать лендинг
	// end sHowOrder

mixin sHowOrder-08(data)
	+sHowOrderBody(class="sHowOrder-tabs")
		+b.section-title.text-center
			h2 Как заказать сайт или интернет-магазин в&nbsp;рассрочку
		.tabs
			+b.tabs__caption--with-icon
				+b.tabs__btn--with-icon
					+icon("configuration")
					| Сайты и&nbsp;магазины в&nbsp;рассрочку с&nbsp;нуля
				+b.tabs__btn--with-icon.active
					+icon("web-design")
					| Готовые сайты и магазины в&nbsp;рассрочку
			div
				mixin content(t, text=" ")
					.tabs__content&attributes(attributes)
						+e.smDescr!= t 
						+b.row-circle-wrap
							+b.row-circle.row
								+b.col-circle.col-lg-3.col-xsm-6
									+item-circle({  
										size: '25',
									p:`${text} Вы&nbsp;выбираете любой понравившийся<br> сайт/магазин  <a href="#" class="tdu">из каталога</a>`, 
									})
								+b.col-circle.col-lg-3.col-xsm-6
									+item-circle({  
										size: '50',
									p:`Вы&nbsp;оформляете заказ на странице готового сайта/магазина с&nbsp;отметкой &laquo;в&nbsp;рассрочку&raquo;`, 
									})
								+b.col-circle.col-lg-3.col-xsm-6
									+item-circle({ 
										size: '75',
									p:`Мы&nbsp;выставляем вам счет на&nbsp;50% от&nbsp;стоимости<br> сайта/магазина`,
									})
								+b.col-circle.col-lg-3.col-xsm-6
									+item-circle({ 
										size: '100',
									p:`Выплачиваете остаток суммы в&nbsp;течение 3&nbsp;или&nbsp;6 месяцев (на&nbsp;выбор)`,
									})
						p У&nbsp;нас и&nbsp;правда всё прозрачно и&nbsp;открыто! Никаких тайн мадридского двора и&nbsp;скрытых &laquo;схем&raquo;. Никаких банков и&nbsp;комиссий. Никакого завышения стоимости на&nbsp;дополнительные услуги, которые могут вам пригодиться во&nbsp;время работы с&nbsp;сайтом/магазином. От&nbsp;вас мы&nbsp;просим лишь честную своевременную ежемесячную оплату.
				+content('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.','При клике на кнопки выше переключаются Табы')
				+content(`Этапы и&nbsp;схема предоставления рассрочки для сайтов и&nbsp;Интернет-магазинов с&nbsp;нуля:`).active
	// end sHowOrder