mixin item-circle(data)
	+b.item-circle
		+e.count
		+e.text!= data.p
	// /.item-circle

mixin sHowOrder(data)
	// start sHowOrder
	+b.SECTION.sHowOrder.section#sHowOrder&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Как заказать техническую подержку сайта на&nbsp;1С-Битрикс:
				
			+b.row-circle-wrap
				+b.row-circle.row
					+b.col-circle.col-lg-3.col-xsm-6
						+item-circle({ 
							p:`Выбор пакетного предложения или обсуждение индивидуального`,
						})
					+b.col-circle.col-lg-3.col-xsm-6
						+item-circle({ 
							p:`Составление договора на&nbsp;техническую поддержку сайта`,
						})
					+b.col-circle.col-lg-3.col-xsm-6
						+item-circle({ 
							p:`Оплата стоимости поддержки по&nbsp;договору`,
						})
					+b.col-circle.col-lg-3.col-xsm-6
						+item-circle({ 
							p:`Получение ежемесячной отчетности о&nbsp;проделанной работе`,
						})
			+b.content-block
				p Проделанная работа будет подробно расписана в&nbsp;отчете проекта. Мы&nbsp;берем деньги только за&nbsp;то, что делаем&nbsp;и, благодаря отчету, наши заказчики видят за&nbsp;что платят.
				a.btn.btn-primary.link-modal(href="#modal-call" data-title='<span class="text-primary">Заказать</span>  тех. поддержку ') Заказать тех. поддержку
	// end sHowOrder