mixin forgot-password(data)
	// start forgot-password
	form(name="bform" method="post" target="_top" action="/auth/?forgot_password=yes" wfd-id="48")
			input(type="hidden" name="backurl" value="/auth/" wfd-id="138")
			input(type="hidden" name="AUTH_FORM" value="Y" wfd-id="137")
			input(type="hidden" name="TYPE" value="SEND_PWD" wfd-id="136")
			p Выберите, какую информацию использовать для изменения пароля:
			div(style="margin-top: 16px" wfd-id="50")
				div(wfd-id="53")
					b Логин или email:
				div(wfd-id="52")
					input(type="text" name="USER_LOGIN" value="" wfd-id="135")
					input(type="hidden" name="USER_EMAIL" wfd-id="134")
				div(wfd-id="51")
					| Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по email.
			div(style="margin-top: 20px" wfd-id="49")
				input(type="submit" name="send_account_info" value="Выслать" wfd-id="133")
	div(style="margin-top: 16px" wfd-id="47")
		p
			a(href="/auth/?login=yes")
				b Авторизация
	// end forgot-password