mixin sCatalogHorizontal(data)
	// start sCatalogHorizontal
	+b.sCatalogHorizontal.section#sCatalogHorizontal&attributes(attributes)
		.container
			mixin item(data)
				+e.item(id= data.id)
					.row
						.col-xxl-5.col-md-4
							+e.aside
								+e.img-wrap
									+pic(`prod-${data.i}.png`,'','')
								+btn-modal('Заказать внедрение',`<span class="text-primary">Заказать</span>  внедрение`)
						.col
							+e.caption
								+e.head
									h2= data.t
									p Краткое описание пакета и для кого он подходит 
										br
										| Правильно настроенная система CRM фокусируется на стратегии управления взаимодействия с клиентами на протяжении всего цикла. Она позволит вашим менеджерам по продажам всегда находить нужный подход к клиенту. При наличии всей информации, относящейся к клиенту, которая при этом хранится в одном месте, включая переписку по электронной почте, истории звонков и деятельность по продажам, перед вашим менеджером откроется полная картина клиента перед непосредственным контактом с ним.
									br
									.h5 Стоимость внедрения:
									.row
										.col-xl.col-auto.pb-2
											+e.price
												span.text-with-border 42 000 рублей
											p Облачное решение 
										.col-xl.col-auto.pb-2
											+e.price
												span.text-with-border 50 000 рублей
											p Коробочное решение
										.col-xxl.col-xl-auto
											+btn-modal('Заказать внедрение',`<span class="text-primary">Заказать</span>  внедрение`)
								+e.body
									h5 Что вы получите в результате внедрения:
									h5 CRM Битрикс24:
									ul
										li Все клиенты под рукой: лиды (потенциальные клиенты), контакты существующих клиентов и&nbsp;реквизиты компаний;
										li Пошаговое ведение сделки: от&nbsp;коммерческого предложения, до&nbsp;автоматизированного выставления счетов;
									block
				// /+e.item
			+item({
				id:"pack-1",
				i:"1",
				t:"Пакет «Начальный»", 
			})
				h5 Порядок в работе с задачами:
				ul
					li Возможность постановки как единичной задачи, так и создания «проекта» и неограниченного числа задач в его рамках;
					li «Простите, я забыл это сделать» - ваши сотрудники больше не смогут так сказать: строгий контроль сроков выполнения задач, автоматические напоминания об окончании сроков;
					li Задача содержит множество подзадач? Не проблема: Возможность создавать чек-листы с подзадачами и отмечать выполненное внутри каждой задачи.

				h5 Внутренняя социальная сеть компании:
				ul
					li Забудьте о десятках мессенджеров – теперь все коммуникации в рамках одного окна: чаты (личные и групповые), аудио и видео звонки;
					li Специальные автоматические напоминания не позволят пропустить ни один День рождения коллег;
					li Фраза «я не знаю его номер телефона (email)» останется в прошлом! Все контакты под рукой у всех сотрудников, включая новичков;
					li Жизнь компании: никто не останется без очередной новости компании или объявления – всё отображается на стене и каждый сотрудник получает уведомление об этом;
					li Работа с общими документами: теперь достаточно дать коллеге ссылку, вместо пачек пересылаемых файлов.
				h5 Открытые линии:
				ul
					li Настройка базовой телефонии Битрикс24 (1 номер)
				.alert.alert--warning.d-flex.mb-3
					+icon("attention")
					div
						strong Внимание! 
						| В некоторых (кроме РФ) странах бывшего СНГ имеются ограничения на работу базовой телефонии. Просьба уточнять подробности. 
			+item({
				id:"pack-2",
				i:"2",
				t:"Пакет «Оптимальный»", 
			})
				h5 Открытые линии:
				ul
					li Настройка базовой телефонии Битрикс24 (1 номер)
				.alert.alert--warning.d-flex.mb-3
					+icon("attention")
					div
						strong Внимание! 
						| В некоторых (кроме РФ) странах бывшего СНГ имеются ограничения на работу базовой телефонии. Просьба уточнять подробности. 
			+item({
				id:"pack-3",
				i:"3",
				t:"Создание отдела продаж — базовая настройка CRM", 
			})
			+item({
				id:"pack-4",
				i:"4",
				t:"Автоматизация и повторные продажи — раcширенная настройка CRM", 
			})
			.alert.bg-info.d-flex.mb-3
					+icon("information")
					div Стоимость внедрения коробочной версии немного увеличена. Это связано с наличием дополнительной работы по выбору сервера, установке и настройке портала, настройке сервера и настройке почтового сервера.
	// end sCatalogHorizontal