mixin sNumeral(t="ВебПульт в цифрах")
	// start sNumeral
	+b.SECTION.sNumeral.section#sNumeral&attributes(attributes)
		.container
				
			+b.section-title
				h2= t
			.row
				.col-lg-3
						p Создаем только авторский дизайн премиального качества и никогда не ограничиваем наших клиентов в количестве пожеланий и правок к макетам! Работаем до полного принятия работы
				+e.col.col
					mixin item(t,text, d)
						+e.item.text-center(class="wow  animate__fadeInDown "  data-wow-delay=`${delay * d * 1.6  }s` data-wow-duration=`${dur * 2 }s`)
							+e.imgWrap
								+pic('num-bg.png','','')
							+e.title= t
							+e.text!= text
					+item('8 лет','опыта в IT','1')
					+item('700+','разработанных логотипов','1.4')
					+item('300+','сайтов и Интернет-магазинов','1.6')
					+item('100+','сайтов на сопровождении','1.8')
	// end sNumeral