	// start .sVacansies
.sVacansies {
		 
	padding-top: rem(59);
	padding-bottom: rem(40);
	h2{
		font-weight: 600;
	}

	&__col{
		@include media-breakpoint-up(sm){
			margin-bottom: rem(30);
		}
		margin-bottom: rem(20);
	}

	&__item{
		display: flex;
		flex-direction: column;
		min-height: rem(240);
		@include media-breakpoint-up(sm){
			padding: rem(23) rem(23) rem(30) rem(24);
		}
		padding: rem(16) rem(16) rem(20);
		border-radius: $border-radius;
		border: 1px solid #ebebeb;
		color: $body-color;
		&:hover{
			color: $body-color;
			box-shadow: 0 $em-base 30px rgba(0, 0, 0, 0.15);
			.sVacansies__link{
				text-decoration: underline;
				// border-bottom: 1px solid $primary;
				// width: 91px;
			}
		}
	}

	&__label{
		padding: rem(2) rem(6);
		text-align: center;
		border-radius: $border-radius;
		background-color: #eaf7f5;
		color: $body-color;
		font-size: $small;
		font-weight: 500;
		letter-spacing: 0.045em;
		margin-bottom: rem(10);
		margin-right: auto;
	}

	&__text-block{
		font-weight: 500;
		margin-top: auto;
	}

	&__title{
		font-size: rem(18);
		line-height: (22 / 18);
		// margin-bottom: rem(40);
	}

	&__link-wrap{
		margin-top: auto;
	}

	&__link{
		color: $primary;
	}



	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sVacansies