mixin sArchive(data)
	// start sArchive
	+b.SECTION.sArchive.section#sArchive&attributes(attributes)
		.container
			+b.section-title
				h2 Архив блога
			+b.solutionsMenu
				+e.item.active(href="#") Все
				+e.item(href="#") Обзор
				+e.item(href="#") Сайты
				+e.item(href="#") Статьи
				+e.item(href="#") Вдохновение
			+e.row
				+e.item
					+blogItem({
						img: 'blogImg-1',
						name: 'Статья',
						text: `Wi-Fi 6: нужен ли новый стандарт беспроводной связи обычному пользователю и если да, то зачем?`
					})
				+e.item
					+blogItem({
						img: 'blogImg-3',
						name: 'Обзор',
						text: `Китай может ввести санкции против Nokia и Ericsson, если&nbsp;ЕС запретит оборудование Huawei для сетей&nbsp;5G`
					})
				+e.item
					+blogItem({
						img: 'blogImg-3',
						name: 'Сайты',
						text: `Китай может ввести санкции против Nokia и Ericsson, если&nbsp;ЕС запретит оборудование Huawei для сетей&nbsp;5G`
					})
				mixin row
					+e.item
						+blogItem({
							img: 'blogImg-1',
							name: 'Статья',
							text: `Wi-Fi 6: нужен ли новый стандарт беспроводной связи обычному пользователю и если да, то зачем?`
						})
					+e.item
						+blogItem({
							img: 'blogImg-2',
							name: 'Обзор',
							text: `Ланч-тайм 269: краткий перевод&nbsp;свежих статей о&nbsp;digital`
						}).text-sm
					+e.item
						+blogItem({
							img: 'blogImg-3',
							name: 'Сайты',
							text: `Китай может ввести санкции против Nokia и Ericsson, если&nbsp;ЕС запретит оборудование Huawei для сетей&nbsp;5G`
						})
				+row
				+row
				+e.item
					+blogItem({
						img: 'blogImg-3',
						name: 'Сайты',
						text: `Китай может ввести санкции против Nokia и Ericsson, если&nbsp;ЕС запретит оборудование Huawei для сетей&nbsp;5G`
					})
				+e.item
					+blogItem({
						img: 'blogImg-1',
						name: 'Статья',
						text: `Wi-Fi 6: нужен ли новый стандарт беспроводной связи обычному пользователю и если да, то зачем?`
					})
				+e.item
					+blogItem({
						img: 'blogImg-2',
						name: 'Обзор',
						text: `Ланч-тайм 269: краткий перевод&nbsp;свежих статей о&nbsp;digital`
					}).text-sm
			+pugin()


	// end sArchive