extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sBlog/_sBlog.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'webpult.pro'
	title= title
block pagecontent
	+header()
		+topLine()
	.breadcrumbWrap
		.container
			+breadcrumb('Главная', 'Архив блога','Wi-Fi 6: нужен ли новый стандарт беспроводной связи обычному пользователю и если да, то зачем?')
	.container.section.pt-4
		.mb-30
			a.btn.btn-primary.link-modal(href="#modal-logo") Заказать разработку логотипа
		.mb-30
			a.btn.btn-primary.link-modal(href="#modal-vacancy") Откликнуться на вакансию
		.mb-30
			a.btn.btn-primary.link-modal(href="#modal-onlineStore") Заказать разработку интернет-магазина
		.mb-30
			a.btn.btn-primary.link-modal(href="#") modal
	+footer()


	