extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sBlog/_sBlog.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sPossibilities/_sPossibilities.pug
include ../blocks/sHave/_sHave.pug
include ../blocks/sPreview/_sPreview.pug
include ../blocks/sSupportTable/_sSupportTable.pug
include ../blocks/sHowOrder/_sHowOrder.pug
include ../blocks/sOurWorks/_sOurWorks.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sNumeral/_sNumeral.pug
include ../blocks/sCompetences/_sCompetences.pug
include ../blocks/sCalc/_sCalc.pug
include ../blocks/sFAQ/_sFAQ.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Создание  Landing page'
	title= title
block pagecontent
	+header()
		+topLine()
	.breadcrumbWrap
		.container
			+breadcrumb('Главная', title)
		+headerBlockBody().--tarif
			.container
				.row
					.col-xxl-5.col-xsm-7
						+e.content
							+b.section-title
								h1 Разработка продающих Landing page за&nbsp;#[span.text-with-border 45&nbsp;000 рублей]
							p Создание лендингов с&nbsp;индивидуальным дихайном до&nbsp;полного утверждения с&nbsp;неограниченым количеством правок!
							br
							.row 
								ul.h6.strong.col-auto
									li С нуля 
							
								ul.h6.strong.col-auto 
									li Под ключ
							+btn-modal('Заказать Landing page ',`<span class="text-primary">Заказать</span> Landing page `)
					+e.picCol.col-xsm-5.col-xl
						+pic('head-img-03.png','','')
	+sPreview('prev-land.png',`Лендинг-пейдж (landing page)  <br> или сайт-визитка?`)
		p Landing page (в&nbsp;простонародье &laquo;Лендинг&raquo;), в&nbsp;дословном переводе на&nbsp;русский язык означает &laquo;Посадочная страница&raquo;. Не&nbsp;смотря на&nbsp;то, что понятие &laquo;лендингов&raquo; уже достаточно давно вошло в&nbsp;обиход предпринимателей, многие наши заказчики до&nbsp;сих пор спрашивают его значение, в&nbsp;то
		p Есть мнение, что создание #[strong Интернет-магазина на Битрикс] – это долго и дорого. Немного ниже, на этой странице мы постарались дать развернутый ответ на данный вопрос. Но если вкратце, то действительно, на рынке есть множество предложений по предложений по
	+sCards-03()
	+sOurWorks
	+sSteps-03
	+sHowOrder-03
	+sNumeral('ВебПульт в цифрах')
	+sCompetences
	+sHave20
	+sContent()
		+e.inner--border
			+e.row.row
				.col.pb-2
					h2 Что лучше? Заказать бесплатный, шаблонный  лендинг или создать с&nbsp;нуля?
					p Выше мы&nbsp;говорили о&nbsp;сайтах-визитках, а&nbsp;точнее, об&nbsp;их&nbsp;недостатках и&nbsp;лишь об&nbsp;одном преимуществе лендинга. Как видно даже из&nbsp;небольшого количества информации, описанной выше, так называемый &laquo;сайт-визитка&raquo; полностью себя изжил. Поэтому мы&nbsp;предлагаем больше не&nbsp;возвращаться в&nbsp;утопию и&nbsp;хотим рассказать об&nbsp;основных преимуществах лендингов и&nbsp;о&nbsp;том, для каких целей данный тип сайта подойдет лучше всего. 
					p Итак, сегодня у&nbsp;желающих заказать лендинг, есть выбор между: заказать в&nbsp;веб-студии с&nbsp;нуля, купить готовый шаблон и&nbsp;создать на&nbsp;бесплатном конструкторе. Попытаемся разобраться в&nbsp;преимуществах и&nbsp;недостатках.
				.col-lg-5.text-center.pb-2
					+pic("line-1.png")
			+e.row.row.flex-lg-row-reverse
				.col.pb-2
					h2 Бесплатные конструкторы лендингов
					p Начнем с бесплатных конструкторов. 
					.div-with-icon
						img(src="img/svg/check-circler.svg", alt="")
						| Единственный плюс в подобных ресурсах кроется в слове «бесплатно», однако мы верим в то, что сейчас уже все понимают то, что такое «бесплатно». 
					.div-with-icon.mb-3
						img(src="img/svg/times-circle.svg", alt="")
						| Теперь о минусах. К сожалению для любителей «бесплатного», их гораздо больше.
					p В&nbsp;первую очередь, вы&nbsp;должны четко понимать, что лендинг, который вы&nbsp;создадите на&nbsp;бесплатном конструкторе никогда (Внимание! Никогда!) не&nbsp;будет принадлежать вам. Владельцем вашего ресурса изначально и&nbsp;навсегда останется разработчик конструктора бесплатных лендингов, как&nbsp;бы красиво вас не&nbsp;заманивали.  
				.col-lg-5.text-center.pb-2
					+pic("line-2.png")
			+e.row.row
				.col.pb-2
					h3 Какова их выгода, если всё бесплатно? 
					p Всё предельно просто. Бывают различные &laquo;бесплатные&raquo; варианты. Например, реклама сторонних сайтов на&nbsp;&laquo;вашем&raquo; бесплатном лендинге. Представьте, что вы&nbsp;создали бесплатный лендинг на&nbsp;конструкторе, нашли и&nbsp;заменили шаблонные картинки на&nbsp;свои&nbsp;&mdash; красивые, наполнили его информацией о&nbsp;вашем любимом деле, о&nbsp;деле, в&nbsp;которое вы&nbsp;вкладываете &laquo;душу&raquo;. Неважно что это&nbsp;&mdash; товары или услуги. Далее, вы&nbsp;даете рекламу, приводите посетителей на&nbsp;сайт. Но&nbsp;посетитель видит среди описаний ваших товаров или услуг, которые вы&nbsp;так тщательно проработали, огромное количество рекламы чужих товаров&nbsp;/ услуг и&nbsp;что самое неприятное, с&nbsp;большой долей вероятности здесь будут ваши конкуренты. Как вы&nbsp;думаете, оставит&nbsp;ли кто-то заявку на&nbsp;сайте, на&nbsp;котором есть реклама конкурента? Крайне маловероятно. Чтобы отключить рекламу, вам придется оплачивать ежемесячную абонентскую плату. 
					p Другой способ дохода разработчиков конструктов заключается в&nbsp;том, что изначально, бесплатно, они позволяют создать посадочную страницу только на&nbsp;домене третьего уровня. Примерно так: moedelo.razrabotchiklandingov.ru&nbsp;&mdash; подобное доменное имя едва&nbsp;ли даст вам заказчиков. Реклама говорила о&nbsp;том, что вы&nbsp;сможете подключить свой домен? Да, разработчики, как правило, предусматривают эту услугу и&nbsp;всего за&nbsp;несколько сотен рублей в&nbsp;месяц, вы&nbsp;сможете пользоваться своим доменом. 
					p Есть ещё множество разных дополнений, за&nbsp;что с&nbsp;вас могут попросить деньги и&nbsp;рассказывать о&nbsp;них можно очень долго. Поэтому перейдем к&nbsp;следующему типу посадочных страниц.
			+e.row.row
				.col.pb-2
					h2 Разработка шаблонных лендингов. 
					p Здесь ситуация более прозрачна нежели с&nbsp;&laquo;бесплатным сыром&raquo;. Если вы&nbsp;решите купить шаблонный лендинг, то&nbsp;стоит отметить, что здесь также есть свои преимущества и&nbsp;недостатки, но&nbsp;в&nbsp;сравнении с&nbsp;&laquo;бесплатными&raquo; вариантами, здесь преимуществ намного больше. Перечислим основные:
					.div-with-icon
						img(src="img/svg/check-circler.svg", alt="")
						| Сайт будет полностью принадлежать вам, т.е. вы будете его законным владельцем с момента покупки и навсегда. Можно найти множество различных тематических шаблонов например на маркетплейсе от 1С-Битрикс. Быстрая установка, настройка и стоимость.
					.div-with-icon.mb-3
						img(src="img/svg/times-circle.svg", alt="")
						| О недостатках. Точно такой же лендинг и в аналогичной тематике, вы сможете увидеть ещё у сотен владельцев бизнеса. Здесь, бесспорно, можно поменять картинки, тексты, цветовую гамму. Но структура, формы захвата, общий вид… всё будет таким же как и «у соседа». 
					.div-with-icon.mb-3
						img(src="img/svg/times-circle.svg", alt="")
						| Следующий недостаток – это ваше время. Конечно, если вы любите много работать, умеете писать красивые захватывающие тексты о вашем бизнесе, обладаете эстетическим вкусом, то для вас не составит труда посидеть месяц-другой и довести лендинг до своего идеала. Но здесь кроется другая проблема. Очень важно понимать, что сайт должен нравится прежде всего не вам, а вашим потенциальным клиентам! Именно они – ваша главная цель. Поэтому здесь очень важно провести анализ рынка и конкурентов с целью обойти их в качестве представления материалов.
				
				.col-lg-5.text-center.pb-2
					+pic("line-3.png")
				.col-12
					p Итак, сегодня у&nbsp;желающих заказать лендинг, есть выбор между: заказать в&nbsp;веб-студии с&nbsp;нуля, купить готовый шаблон и&nbsp;создать на&nbsp;бесплатном конструкторе. Попытаемся разобраться в&nbsp;преимуществах и&nbsp;недостатках.
					
			+e.row.row
				.col.pb-2
					h2 Создание лендингов с нуля
					p Ну и напоследок пару слов о создании лендингов с нуля и под ключ. Единственный минус данного варианта – это стоимость создания и сроки. Но результат того стоит. В хорошей вебстудии, вам всегда проведут маркетинговый анализ рынка, напишут захватывающие тексты, нарисуют красивые макеты, придадут сайту красочных эффектов и сделают всё возможное для того, чтобы вы получали продажи. Ведь продажи ваших товаров или услуг – это самое главное.
						br
						| Как найти хорошую студию по разработке лендинг пейдж?
						br
						| Поверьте, у вас больше нет этой необходимости, потому что вы её уже нашли!
						br
						| Успехов в бизнесе!
					br
					+btn-modal('Заказать Индивидуальный расчет ',`<span class="text-primary">Заказать</span> Индивидуальный расчет `)
					br
					br
				
				.col-lg-5.text-center.pb-2
					+pic("line-4.png")
		 

	+sFAQ()
	+footer()


	