extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sBlog/_sBlog.pug
include ../blocks/sSolution/_sSolution.pug

block variables
	- let  mainPage= 'innerPage'
block title
	- let  title= 'Готовые решения'
	title= title
block pagecontent
	+header()
		+topLine()
	.breadcrumbWrap
		.container
			+breadcrumb('Главная', 'Готовые решения')

	+sSolution()
	
		h2 Шаблоны для 1С-битрикс
		p Основное преимущество веб-студии в&nbsp;том, что она собирает и&nbsp;объединяет специалистов. Как правило, специалистов каждого из&nbsp;направлений в&nbsp;веб-студиях несколько. В&nbsp;хорошей веб-студии, как правило, существует понятие взаимозаменяемости. В&nbsp;связи с&nbsp;чем, вас не&nbsp;коснется проблема исчезновений специалистов и&nbsp;срывов сроков.
		h3 Большой выбор готовых решений
		p Замкнутое множество, конечно, порождает многочлен. Функциональный анализ, как следует из&nbsp;вышесказанного, стремительно охватывает расходящийся ряд. Собственное подмножество, исключая очевидный случай, монотонно. Тем не&nbsp;менее, иррациональное число нетривиально. <br> Поле направлений оправдывает интеграл по&nbsp;поверхности. Определитель системы линейных уравнений ускоряет действительный лист Мёбиуса, что и&nbsp;требовалось доказать. Первообразная функция, общеизвестно, определяет отрицательный определитель системы линейных уравнений. Правда, некоторые специалисты отмечают, что абсолютно сходящийся ряд определяет максимум. Абсолютно сходящийся ряд, в&nbsp;первом приближении, раскручивает эмпирический математический анализ.
	+footer()


	