extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sBlog/_sBlog.pug
//- include ../blocks/sPossibilities/_sPossibilities.pug
include ../blocks/sHave/_sHave.pug
include ../blocks/sPreview/_sPreview.pug
include ../blocks/sHowOrder/_sHowOrder.pug
include ../blocks/sFAQ/_sFAQ.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Сайты на 1С-Битрикс в рассрочку'
	title= title
block pagecontent
	+header()
		+topLine()
	.breadcrumbWrap
		.container
			+breadcrumb('Главная', title)
		+headerBlockBody().--installmentPlan
			.container
				.row
					.col-xxl-5.col-xsm-7
						+e.content
							+b.section-title
								h1= title
								p Мы&nbsp;предлагаем сайты и&nbsp;Интернет-магазины в&nbsp;беспроцентную рассрочку на&nbsp;1С-битрикс!
							.row
								ul.h6.strong.col-auto
									li Рассрочка без процентов
								ul.h6.strong.col-auto
									li Без участия банков
							+btn-modal('Заказать сайт в рассрочку',`<span class="text-primary">Заказать</span> сайт в рассрочку`)

					+e.picCol.col-xsm-5.col-xl
						+pic('head08.png','','')
	+sPreview('prev-im.png',`Сайты и Интернет-магазины <br>в беспроцентную рассрочку!`)
		p Мы&nbsp;прекрасно понимаем, насколько сложно для многих предпринимателей и&nbsp;компаний &laquo;выживать&raquo; в&nbsp;столь сложное время. Один за&nbsp;другим экономические кризисы, пандемии, самоизоляции... Для нас, как для компании, которая предполагает помощь в&nbsp;развитии бизнеса, сложившаяся ситуация крайне печальна. Поэтому мы&nbsp;разработали антикризисное предложение, призванное облегчить финансовые тяготы, связанные с&nbsp;развитием бизнеса.
		p Мы&nbsp;прекрасно понимаем, насколько сложно для многих предпринимателей и&nbsp;компаний &laquo;выживать&raquo; в&nbsp;столь сложное время. Один за&nbsp;другим экономические кризисы, пандемии, самоизоляции... Для нас, как для компании, которая предполагает помощь в&nbsp;развитии бизнеса, сложившаяся ситуация крайне печальна. Поэтому мы&nbsp;разработали антикризисное предложение, призванное облегчить финансовые тяготы, связанные с&nbsp;развитием бизнеса.
	+sHowOrder-08
	//- +sPossibilities

					
	+sHave-08
	+sFAQ()
	+footer()


	