extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sOurWorks/_sOurWorks.pug
include ../blocks/sHave/_sHave.pug
include ../blocks/sPreview/_sPreview.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Корпоративный портал Битрикс24'
	title= title
block pagecontent
	+header()
		+topLine()
	.breadcrumbWrap
		.container
			+breadcrumb('Главная', title)
		+headerBlockBody().--tarif
			.container
				.row
					.col-xxl-5.col-xsm-7
						+e.content
							+b.section-title
								h1 Внедрение Битрикс24 <br>с последующей поддержкой
								p Внедрим, обучим, настроим! Консультации по&nbsp;работе с&nbsp;системой бесплатно!
							ul.h6.strong
								li Внедряем Битрикс24 под ключ
								li Бесплатная консультационная поддержка
			 
					+e.picCol.col-xsm-5.col-xl
						+pic('head13','','')
	+sPreview('bitrix',`Можно ли внедрить Битрикс24 самостоятельно?`)
		p Битрикс24&nbsp;&mdash; это комплексное решение для развития и&nbsp;автоматизации вашего бизнеса. Пять основных компонентов в&nbsp;рамках &laquo;одного окна&raquo; окажут незаменимую помощь в&nbsp;ведении делопроизводства.
		p Битрикс24&nbsp;&mdash; это комплексное решение для развития и&nbsp;автоматизации вашего бизнеса. Пять основных компонентов в&nbsp;рамках &laquo;одного окна&raquo; окажут незаменимую помощь в&nbsp;ведении делопроизводства.
	+sOurWorks-12()
	+sContent()
		+b.section-title.text-center.pb-2
			h2 Основные возможности Битрикс24
		+b.solutionsMenu.solutionsMenu-js.justify-content-center.mb-70
			+e.item.scroll-link.active(href="#CRM") CRM
			+e.item.scroll-link(href="#ofice") Онлайн-офис
			+e.item.scroll-link(href="#video") Видеозвонки HD
			+e.item.scroll-link(href="#") Задачи и проекты
			+e.item.scroll-link(href="#") Контакт-центр
			+e.item.scroll-link(href="#") Сайты
			+e.item.scroll-link(href="#") Магазины
		+e.roww.row#CRM
			.col-xl-5
				h3 CRM: Клиенты и Продажи
				p.mb-25 Правильно настроенная система CRM фокусируется на&nbsp;стратегии управления взаимодействия с&nbsp;клиентами на&nbsp;протяжении всего цикла. Она позволит вашим менеджерам по&nbsp;продажам всегда находить нужный подход к&nbsp;клиенту. При наличии всей информации, относящейся к&nbsp;клиенту, которая при этом хранится в&nbsp;одном месте, включая переписку по&nbsp;электронной почте, истории звонков и&nbsp;деятельность по&nbsp;продажам, перед вашим менеджером откроется полная картина клиента перед непосредственным контактом с&nbsp;ним.
				h4 Возможности
				ul.colum-2
					li База данных клиентов
					li Живая лента CRM
					li Управление сделками
					li Коммерческое предложение
					li Счета-фактуры
					li Предотвращение дублирования
					li Звонки клиентам из CRM
					li Отправка электронных писем клиентам
					li Планирование рабочего дня
					li Воронка продаж
					li Обработка лидов
					li Отчеты
					li Интеллектуальный поиск CRM
					li Каталог товаров и услуг
					li Интеграция с сайтом
					li Интеграция CRM с интернет&#8209;магазином
					li CRM бизнес-процессы
					li Конструктор фильтров
					li Права доступа и роли
					li Мобильный CRM
					li CRM Формы веб&#8209;сайтов
					li Открытые линии
					li Приложения и интеграции
			.col-xl
				a(href=`img/@2x/content-img.jpg` data-fancybox=`pic1`)
					+pic('content-img','','')(class="w-100")
	+sContent-noID()
		+e.roww.row#ofice
			.col-xl-5
				h3 Управление Проектами и Задачами
				p Битрикс24. Задачи и&nbsp;проекты помогают работать вместе и&nbsp;успевать вовремя. Если задача поставлена в&nbsp;Битрикс24, она будет выполнена. Поставить задачу сотрудникам легко, но&nbsp;всегда возникает ряд вопросов и&nbsp;уточнений. Чтобы избежать такого длительного обсуждение, в&nbsp;&laquo;Битрикс24&raquo; внедрена совместная работа с&nbsp;задачами: обсуждение, делегирование, назначение наблюдателей и&nbsp;т.д. Для создания задания потребуется не&nbsp;более 1-2&nbsp;минут.
				p Управляйте проектами и&nbsp;задачами, используя удобные инструменты. Для работы с&nbsp;партнерами (в&nbsp;экстранете) используйте функции задач: интеграция с&nbsp;календарями, механизм делегирования, система чек-листов, шаблоны задач, фильтры и&nbsp;конструктор задач. Следите за&nbsp;выполнением задач. Оценивайте время и&nbsp;другие затраты при разработке проекта. Управляйте ходом выполнения задач проекта с&nbsp;помощью диаграмм Ганта, здесь показано общее количество задач, сколько из&nbsp;них выполнено и&nbsp;сколько выполняется, какие задачи просрочены и&nbsp;какие не&nbsp;имеют срока выполнения. Оценивайте работу с&nbsp;задачами с&nbsp;помощью полученных отчетов о&nbsp;сотрудниках, отделах и&nbsp;проектах. В&nbsp;конце месяца подведите итоги&nbsp;&mdash; по&nbsp;отделам и&nbsp;каждому сотруднику. Возможности: &mdash;&nbsp;Управление проектами и&nbsp;задачами&nbsp;&mdash; Диаграмма Ганта&nbsp;&mdash; Зависимости между задачами&nbsp;&mdash; Эффективный контроль за&nbsp;загруженностью сотрудников в&nbsp;задачах&nbsp;&mdash; Счетчики и&nbsp;роли&nbsp;&mdash; Чек-лист&nbsp;&mdash; Шаблоны и&nbsp;автоматизация&nbsp;&mdash; Рабочие группы&nbsp;&mdash; Отчеты по&nbsp;задачам&nbsp;&mdash; Конструктор отчетов&nbsp;&mdash; Внешние пользователи&nbsp;&mdash; Задачи по&nbsp;электронной почте
			.col-xl.order-xl-first
				a(href=`img/@2x/content-img.jpg` data-fancybox=`pic2`)
					+pic('content-img','','')(class="w-100")
	+sContent-noID()
		+e.roww.row#video
			.col-xl-5
				h3 Открытые Линии
				p.mb-25 Открытые линии соединяют самые популярные социальные сети и&nbsp;мессенджеры с&nbsp;Bitrix24&nbsp;CRM. Клиентские сообщения c&nbsp;Facebook, Telegram, Skype и&nbsp;других платформ распределяются среди пользователей Bitrix24&nbsp;CRM в&nbsp;соответствии с&nbsp;установленными правилами. Даже если ваши сотрудники используют Битрикс24 для общения с&nbsp;клиентами в&nbsp;режиме реального времени, клиенты будут видеть все ответы в&nbsp;социальной сети или в&nbsp;мессенджере, с&nbsp;которым они инициировали контакт. Открытые линии работают с&nbsp;мобильными, десктопными и&nbsp;веб-версиями приложений Bitrix24.
				button.btn.btn-primary.mb-30(type='button') Кнопка
				h4 Возможности
				.row
					.col-md-6
						ul
							li Предпродажное консультирование через цифровые каналы
							li Различные каналы продаж, включая онлайн-чат, социальные сети и мгновенные сообщения
							li Обслуживание клиентов (одноуровневое или многоуровневое)
					.col-md-6
						ul
							li Дополнительный источник лидов для вашей CRM
							li Повторные продажи, используя данные CRM
			.col-xl
				a(href=`img/@2x/content-img.jpg` data-fancybox=`pic3`)
					+pic('content-img','','')(class="w-100")
	+sHave
	+footer()


	