extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sBlog/_sBlog.pug
include ../blocks/sSolution/_sSolution.pug
include ../blocks/sPrioritize/_sPrioritize.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Готовые решения'
	title= title
block pagecontent
	+header()
		+topLine()
	.breadcrumbWrap
		.container
			+breadcrumb('Главная', 'Готовые решения','Приорити','Корпоративный сайт Битрикс24')
	+sPrioritize-19()
	+sContent()
		.text-center
			a(href=`img/@2x/more-Portfolio-2.jpg` data-fancybox=`pic-1`)
				+pic('more-Portfolio-2','','')(class="mb-50")
		br
		h2.mb-40 Прототипы проекта
		p.mb-40 Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
		.text-center
			a(href=`img/@2x/more-Portfolio-3.jpg` data-fancybox=`pic-1`)
				+pic('more-Portfolio-3','','')(class="mb-50")
		br
		h2.mb-45 Дизайн
		h3.mb-40 Главная
		p.mb-40 Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
		.text-center
			a(href=`img/@2x/more-Portfolio-4.jpg` data-fancybox=`pic-1`)
				+pic('more-Portfolio-4','','')(class="mb-40")
		h3.mb-30 Каталог
		.text-center
			a(href=`img/@2x/more-Portfolio-4.jpg` data-fancybox=`pic-1`)
				+pic('more-Portfolio-4','','')(class="mb-55")
		h3.mb-35 Остальные страницы
		p.mb-40 Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
		.text-center
			a(href=`img/@2x/more-Portfolio-5.jpg` data-fancybox=`pic-1`)
				+pic('more-Portfolio-5','','')(class="mb-40")
		+e.arrows-wrap.mb-40
			+e.back(href="#")
				+icon('arrow-l')
				| Предыдущий 
				| 
				span.d-none.d-sm-inline 
					| проект
			+e.next(href="#")
				| Следующий 
				| 
				span.d-none.d-sm-inline проект
				+icon('arrow-l')
		.text-center
			+e.btn.btn.btn-primary.link-modal(href="#modal-call" data-title=`<span class="text-primary">Обратная</span> связь`) Заказать создание сайта


	+footer()


	