extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sBlog/_sBlog.pug
include ../blocks/sPossibilities/_sPossibilities.pug
include ../blocks/sHave/_sHave.pug
include ../blocks/sPreview/_sPreview.pug
include ../blocks/sSupportTable/_sSupportTable.pug
include ../blocks/sHowOrder/_sHowOrder.pug

block variables
	- let  mainPage= 'innerPage'
block title
	- let  title= 'Техническая поддержка'
	title= title
block pagecontent
	+header()
		+topLine()
	.breadcrumbWrap
		.container
			+breadcrumb('Главная', title)
		+headerBlockBody().--tarif
			.container
				.row
					.col-xxl-5.col-xsm-7
						+e.content
							+b.section-title
								h1 Техническая поддержка сайтов на&nbsp;1С-битрикс 
							p Собственный штат дизайнеров, верстальщиков, программистов, копирайтеров и&nbsp;контент-менеджеров!
							ul.h6.strong
								li Оперативное реагирование!
							a.btn.btn-primary(href="#") Заказать поддержку
					+e.picCol.col-xsm-5.col-xl
						+pic('head-img-20','','')
	+sPreview
	+sSupportTable
	+sHowOrder
	+sContent()
		+e.inner--border
			+e.row.row
				.col.pb-2
					h2 Что лучше? Заказать бесплатный, шаблонный  лендинг или создать с&nbsp;нуля?
					p Выше мы&nbsp;говорили о&nbsp;сайтах-визитках, а&nbsp;точнее, об&nbsp;их&nbsp;недостатках и&nbsp;лишь об&nbsp;одном преимуществе лендинга. Как видно даже из&nbsp;небольшого количества информации, описанной выше, так называемый &laquo;сайт-визитка&raquo; полностью себя изжил. Поэтому мы&nbsp;предлагаем больше не&nbsp;возвращаться в&nbsp;утопию и&nbsp;хотим рассказать об&nbsp;основных преимуществах лендингов и&nbsp;о&nbsp;том, для каких целей данный тип сайта подойдет лучше всего. 
					p Итак, сегодня у&nbsp;желающих заказать лендинг, есть выбор между: заказать в&nbsp;веб-студии с&nbsp;нуля, купить готовый шаблон и&nbsp;создать на&nbsp;бесплатном конструкторе. Попытаемся разобраться в&nbsp;преимуществах и&nbsp;недостатках.
				.col-lg-5.text-center.pb-2
					+pic("line-1")
			+e.row.row.flex-lg-row-reverse
				.col.pb-2
					h2 Бесплатные конструкторы лендингов
					p Начнем с бесплатных конструкторов. 
					.div-with-icon
						img(src="img/svg/check-circler.svg", alt="")
						| Единственный плюс в подобных ресурсах кроется в слове «бесплатно», однако мы верим в то, что сейчас уже все понимают то, что такое «бесплатно». 
					.div-with-icon.mb-3
						img(src="img/svg/times-circle.svg", alt="")
						| Теперь о минусах. К сожалению для любителей «бесплатного», их гораздо больше.
					p В&nbsp;первую очередь, вы&nbsp;должны четко понимать, что лендинг, который вы&nbsp;создадите на&nbsp;бесплатном конструкторе никогда (Внимание! Никогда!) не&nbsp;будет принадлежать вам. Владельцем вашего ресурса изначально и&nbsp;навсегда останется разработчик конструктора бесплатных лендингов, как&nbsp;бы красиво вас не&nbsp;заманивали.  
				.col-lg-5.text-center.pb-2
					+pic("line-2")
			+e.row.row
				.col.pb-2
					h3 Какова их выгода, если всё бесплатно? 
					p Всё предельно просто. Бывают различные &laquo;бесплатные&raquo; варианты. Например, реклама сторонних сайтов на&nbsp;&laquo;вашем&raquo; бесплатном лендинге. Представьте, что вы&nbsp;создали бесплатный лендинг на&nbsp;конструкторе, нашли и&nbsp;заменили шаблонные картинки на&nbsp;свои&nbsp;&mdash; красивые, наполнили его информацией о&nbsp;вашем любимом деле, о&nbsp;деле, в&nbsp;которое вы&nbsp;вкладываете &laquo;душу&raquo;. Неважно что это&nbsp;&mdash; товары или услуги. Далее, вы&nbsp;даете рекламу, приводите посетителей на&nbsp;сайт. Но&nbsp;посетитель видит среди описаний ваших товаров или услуг, которые вы&nbsp;так тщательно проработали, огромное количество рекламы чужих товаров&nbsp;/ услуг и&nbsp;что самое неприятное, с&nbsp;большой долей вероятности здесь будут ваши конкуренты. Как вы&nbsp;думаете, оставит&nbsp;ли кто-то заявку на&nbsp;сайте, на&nbsp;котором есть реклама конкурента? Крайне маловероятно. Чтобы отключить рекламу, вам придется оплачивать ежемесячную абонентскую плату. 
					p Другой способ дохода разработчиков конструктов заключается в&nbsp;том, что изначально, бесплатно, они позволяют создать посадочную страницу только на&nbsp;домене третьего уровня. Примерно так: moedelo.razrabotchiklandingov.ru&nbsp;&mdash; подобное доменное имя едва&nbsp;ли даст вам заказчиков. Реклама говорила о&nbsp;том, что вы&nbsp;сможете подключить свой домен? Да, разработчики, как правило, предусматривают эту услугу и&nbsp;всего за&nbsp;несколько сотен рублей в&nbsp;месяц, вы&nbsp;сможете пользоваться своим доменом. 
					p Есть ещё множество разных дополнений, за&nbsp;что с&nbsp;вас могут попросить деньги и&nbsp;рассказывать о&nbsp;них можно очень долго. Поэтому перейдем к&nbsp;следующему типу посадочных страниц.
	+sHave
	+footer()


	