extends layout/main.pug


include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
include ../blocks/sBlog/_sBlog.pug
include ../blocks/asideDropdown/_asideDropdown.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'webpult.pro'
	title= title
block pagecontent
	+header()
		+topLine()
	.breadcrumbWrap
		.container
			+breadcrumb('Главная', 'Описание функционала','Модуль 1')
	+sContent()
		.row
			.col-lg-4.col-xl-3
				+asideDropdown().mb-50
			.col-lg-8.col-xl-9
				+b.section-title.pb-0.mb-50
					h1 Блок с преимуществами иконки (H1)
				p Замкнутое множество, конечно, порождает многочлен. Функциональный анализ, как следует из&nbsp;вышесказанного, стремительно охватывает расходящийся ряд. Собственное подмножество, исключая очевидный случай, монотонно. Тем не&nbsp;менее, иррациональное число нетривиально.
				p.mb-50 Поле направлений оправдывает интеграл по&nbsp;поверхности. Определитель системы линейных уравнений ускоряет действительный лист Мёбиуса, что и&nbsp;требовалось доказать. Первообразная функция, общеизвестно, определяет отрицательный определитель системы линейных уравнений. Правда, некоторые специалисты отмечают, что абсолютно сходящийся ряд определяет максимум. Абсолютно сходящийся ряд, в&nbsp;первом приближении, раскручивает эмпирический математический анализ.
				+pic('functional')(class="mb-50")
				p Замкнутое множество, конечно, порождает многочлен. Функциональный анализ, как следует из&nbsp;вышесказанного, стремительно охватывает расходящийся ряд. Собственное подмножество, исключая очевидный случай, монотонно. Тем не&nbsp;менее, иррациональное число нетривиально.
				p.mb-50 Поле направлений оправдывает интеграл по&nbsp;поверхности. Определитель системы линейных уравнений ускоряет действительный лист Мёбиуса, что и&nbsp;требовалось доказать. Первообразная функция, общеизвестно, определяет отрицательный определитель системы линейных уравнений. Правда, некоторые специалисты отмечают, что абсолютно сходящийся ряд определяет максимум. Абсолютно сходящийся ряд, в&nbsp;первом приближении, раскручивает эмпирический математический анализ.
				+pic('functional')(class="mb-50")
				p Замкнутое множество, конечно, порождает многочлен. Функциональный анализ, как следует из&nbsp;вышесказанного, стремительно охватывает расходящийся ряд. Собственное подмножество, исключая очевидный случай, монотонно. Тем не&nbsp;менее, иррациональное число нетривиально.
				p.mb-50 Поле направлений оправдывает интеграл по&nbsp;поверхности. Определитель системы линейных уравнений ускоряет действительный лист Мёбиуса, что и&nbsp;требовалось доказать. Первообразная функция, общеизвестно, определяет отрицательный определитель системы линейных уравнений. Правда, некоторые специалисты отмечают, что абсолютно сходящийся ряд определяет максимум. Абсолютно сходящийся ряд, в&nbsp;первом приближении, раскручивает эмпирический математический анализ.
				+e.arrows-wrap.mb-40
					+e.back(href="#")
						+icon('arrow-l')
						| Предыдущий #[span.d-none.d-sm-inline модуль]
					+e.next(href="#")
						| Следующий #[span.d-none.d-sm-inline модуль]
						+icon('arrow-l')
				.text-center
					+e.btn.btn.btn-primary.link-modal(href="#modal-call" data-title=`<span class="text-primary">Заказать </span> создание сайта`) Заказать интернет-магазина

	+footer()