mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			block
	// end sContent


mixin sContent-noID()
	// start sContent
	+b.SECTION.sContent--23AboutUs.section&attributes(attributes)
		.container
			block
	// end sContent