// start .sContent
.sContent {
	padding-top: var(--sPB);
	&__inner {
		@include media-breakpoint-up(md) {
			padding: rem(60) rem(40) 0;
		}
		padding: rem(40) rem(15) 0;
		&--border {
			border-radius: $border-radius;
			border: 1px solid #ebebeb;
		}
	}
	&__info {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: rem(20px);
	}
	&__next,
	&__back {
		display: inline-flex;
		align-items: center;
		
		.icon {
			font-size: rem(13px);
			margin-right: rem(13);
			@include mt;
		}
		&:hover {
			text-decoration: underline;
			color: $primary;
		}
		span {
			margin-left: rem(10);
		}
	}
	&__back {
		&:hover {
			.icon {
				transform: translateX(-3px);
			}
		}
		
	}
	&__next {
		
		.icon {
			transform: rotateY(180deg);
			margin-left: rem(13);
		}
		&:hover {
			text-decoration: underline;
		}

		&:hover .icon {
			transform: rotateY(180deg) translateX(-3px);
		}
	}

	.section-title {
		padding-bottom: calc(var(--sTPB) * 8.5);
		&--pb-25 {
			padding-bottom: rem(25);
		}
	}

	&__row {
		padding-bottom: rem(30);
	}

	&--23AboutUs {
		padding-top: rem(10);
		padding-bottom: rem(58);
	}

	&__arrows-wrap {
		display: flex;
		justify-content: space-between;
	}

	&--25moreAP {
		padding-top: 0;
		padding-bottom: rem(60);
	}

	&__roww {
		@include media-breakpoint-up(xxl) {
			@include roww(100px);
		}
	}

	.solutionsMenu {
		z-index: 20;
		padding-top: rem(15);
		padding-bottom: rem(15);
		&::before {
			content: "";
			@include mt;
			z-index: -1;
			position: absolute;
			width: 200vw;
			background-color: #fff;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
			@include a-cent1(x);
			top: 0;
			opacity: 0;
			height: 100%;
		}
		&.sticky {
			@include media-breakpoint-up(lg) {
				&::before {
					opacity: 1;
				}
				// width: 100% !important;
				// left: 0 !important;
			}
			@include media-breakpoint-down(lg) {
				position: static !important;
			}
		}
	}

	.sticky-spacer {
		@include media-breakpoint-down(lg) {
			display: none !important;
		}
	}

	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sContent

.column-2,
.colum-2 {
	@include media-breakpoint-up(md) {
		columns: 2;
		// column-width: rem(100);
		display: block;
		> * {
			display: inline-block;
			width: 100%;
			vertical-align: top;
			// width: 100%;
		}
	}
}
.colum-3 {
	@include media-breakpoint-up(xl) {
		columns: 3;
	}
	@include media-breakpoint-up(md) {
		columns: 2;
		// column-width: rem(100);
		display: block;
		> * {
			display: inline-block;
			vertical-align: top;
			width: 100%;
		}
	}
}

h1,
.h1 {
	line-height: 1.22;
}

h2,
.h2 {
	line-height: 1.3;
	letter-spacing: 0.031em;
	@include media-breakpoint-up(md) {
		margin-bottom: var(--h2mb);
	}
}

h3,
.h3 {
	line-height: 1.35;
	letter-spacing: 0.031em;
	@include media-breakpoint-up(md) {
		margin-bottom: var(--h3mb);
	}
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
	line-height: 1.25;
	@include media-breakpoint-up(md) {
		margin-bottom: var(--h4mb);
	}
}

.tagBlock {
	padding: 0px 7px;
	margin-right: rem(20);
	border-radius: $border-radius;
	margin-bottom: rem(5);
	font-size: $small;
	font-weight: 500;
	letter-spacing: 0.03em;
	background: #eaf7f5;
	color: $body-color;
}

ul {
	li {
		list-style: none;
		position: relative;
		padding-left: rem(18px);
		padding-bottom: rem(14px);
		line-height: 1.5;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: em(7);
			width: 0.26667em;
			height: 0.26667em;
			background-color: $primary;
			border-radius: 50%;
		}
	}
}

ol {
	list-style-type: none;
	counter-reset: item;
	padding-left: 0;
	line-height: 1.5;

	li {
		position: relative;
		padding-bottom: rem(12px);
		line-height: 1.5;

		&::before {
			content: counter(item) ".";
			counter-increment: item;
			color: $primary;
			font-weight: 600;
			margin-right: rem(7px);
		}
	}
}

blockquote {
	position: relative;
	border-top: solid 1px #ebebeb;
	border-bottom: solid 1px #ebebeb;
	padding-top: rem(24);
	padding-bottom: rem(24);
	padding-left: rem(15);
	@include media-breakpoint-up(md) {
		padding-left: rem(40);
	}
	margin-bottom: 1.35rem;

	&::before {
		content: "";
		position: absolute;
		left: rem(5);
		@include media-breakpoint-up(md) {
			left: rem(20);
		}
		top: rem(24);
		height: calc(100% - (#{rem(24)} + #{rem(29)}));
		width: 1px;
		background: $primary;
	}
}

.div-with-icon {
	position: relative;
	padding-bottom: rem(17);

	display: flex;
	// &::before{
	// content: '';
	// margin-right: rem(20);
	// position: relative;
	// flex-shrink: 0;
	// width: 32px;
	// height: 32px;
	// background-size: 100% 100%;
	// background-repeat: no-repeat;
	// }
	&--success {
		&::before {
			// background-image: url(../img/svg/check-circler.svg);
		}
	}
	&--danger {
		&::before {
			// background-image: url(../img/svg/times-circle.svg);
		}
	}
	img {
		width: 32px;
		height: 32px;
		margin-right: rem(20);
		flex-shrink: 0;
	}
}

.ya-share2 {
	ul {
		list-style: none;
	}
}

.pb-29 {
	padding-bottom: 29px !important;
}

.mb-38 {
	margin-bottom: 38px;
}

img {
	max-width: 100%;
	height: auto;
}
