mixin sPrioritize(data)
	// start sPrioritize
	+b.SECTION.sPrioritize.section#sPrioritize&attributes(attributes)
		.container
			+b.section-title.mb-25
				h1 Приорити – Корпоративный сайт
				
			.row.justify-content-center
				.col-xl-8.mb-20
					+e.wrap
						+e.row.row
							+e.sliderCol.col-lg-7
								+e.topSlider.prioritizeS-top-js.swiper-container
									+e.prevBtn
										+icon('arrow-r')
									+e.nextBtn
										+icon('arrow-r')
									.swiper-wrapper
										mixin slide()
											.swiper-slide
												a(href=`img/@2x/prioritizeImg.jpg` data-fancybox=`pic`)
													picture
														source.swiper-lazy(srcset="#" data-srcset=`img/@2x/webp/prioritizeImg.webp` type="image/webp")
														img.swiper-lazy(src="#" data-src=`img/@2x/prioritizeImg.jpg`, alt="")
										+slide
										+slide
										+slide
										+slide
										+slide
										+slide
										+slide
								+e.thumbSlider.prioritizeS-thumbs-js.swiper-container
									.swiper-wrapper
										mixin slide()
											.swiper-slide
												picture
													source.swiper-lazy(srcset="#" data-srcset=`img/@1x/webp/prioritizeImg.webp` type="image/webp")
													img.swiper-lazy(src="#" data-src=`img/@1x/prioritizeImg.jpg`, alt="")
										+slide
										+slide
										+slide
										+slide
										+slide
										+slide
										+slide
							.col
								.mb-20
									a.tagBlock(href="#") Сайты
								+e.titleSm Подходящие редакции
								p «Старт», «Стандарт», «Малый бизнес», «Эксперт», «Бизнес»
								+e.titleSm Описание
								p Аспро: Приорити – универсальное типовое решение, созданное с учетом потребностей среднего и крупного бизнеса. Идеально подойдет для компаний, работающих в b2b-сегменте и сложных тематиках – крупное производство, консалтинг, финансовые услуги (от аудита до юридических услуг), инвестиции и ценные бумаги, страхование, кибербезопасность и т.д. 
								a.tdu.scroll-link(href="#sContent") Подробее
				.col-xl
					+e.rBlock
						+e.topLine
							+e.priceWrap
								+e.price 5 400 рублей
								+e.oldPrice #[span.tdlt 1 499 900] рублей
							+e.economy Экономия -33% 
						+e.middleBlock
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="basicFilling">
								<label class="form-check-label" for="basicFilling">Базовое заполнение сайта + 19 900 рублей</label>
							</div>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="installation">
								<label class="form-check-label" for="installation">Установка и настройка решения + 5 000 рублей</label>
							</div>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="payment">
								<label class="form-check-label" for="payment">Купить в рассрочку</label>
							</div>
							+form-wrap()
								+select('Добавить лицензию 1С-битрикс?',' Лицензия «Малый Бизнес» — 35 900 рублей',' Лицензия «Малый Бизнес» — 35 900 рублей',' Лицензия «Малый Бизнес» — 35 900 рублей',' Лицензия «Малый Бизнес» — 35 900 рублей')
							+e.btnWrap
								+e.btn(type="submit") Купить
								+e.demo(href="#") Демо
						+e.foot
							+e.payment(href="#")
								+icon('installment')
								div
									span Узнать условия приобретения в рассрочку
	// end sPrioritize


mixin sPrioritize-25page(data)
	// start sPrioritize-25page
	+b.SECTION.sPrioritize--25page.section#sPrioritize&attributes(attributes)
		.container
			+b.section-title.mb-30
				h1 Разработка логотипа и фирменного стиля для компании АзияИнвест
			.row
				.col-xl-8
					.row
						+e.sliderCol--mb-25
							+e.topSlider.prioritizeS-top-js.swiper-container
								+e.prevBtn
									+icon('arrow-r')
								+e.nextBtn
									+icon('arrow-r')
								.swiper-wrapper
									mixin slide()
										.swiper-slide
											a(href=`img/@2x/more-aboutPortfolio.jpg` data-fancybox=`pic`)
												picture
													source.swiper-lazy(srcset="#" data-srcset=`img/@2x/webp/more-aboutPortfolio.webp` type="image/webp")
													img.swiper-lazy(src="#" data-src=`img/@2x/more-aboutPortfolio.jpg`, alt="")
									+slide
									+slide
									+slide
									+slide
									+slide
									+slide
									+slide
							+e.thumbSlider.prioritizeS-thumbs-js.swiper-container
								.swiper-wrapper
									mixin slide()
										.swiper-slide
											picture
												source.swiper-lazy(srcset="#" data-srcset=`img/@1x/webp/prioritizeImg.webp` type="image/webp")
												img.swiper-lazy(src="#" data-src=`img/@1x/prioritizeImg.jpg`, alt="")
									+slide
									+slide
									+slide
									+slide
									+slide
									+slide
									+slide
				.col.col-xl-4
					+e.item-25page
						+e.text-wrap
							+e.title Описание проекта
							+e.text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
						+e.btn-wrap
							+btn-modal('Заказать  логотип ',`<span class="text-primary">Заказать</span>  логотип `)


	// end sPrioritize-25page


mixin sPrioritize-19(data)
	// start sPrioritize-19
	+b.SECTION.sPrioritize--19.section#sPrioritize&attributes(attributes)
		.container
			+b.section-title.mb-30
				h1 Разработка интернет-магазина GEON
			.row
				.col-xl-8
					+e.img-wrap
						+pic(`more-Portfolio-1`)
				.col.col-xl-4
					+e.item-19
						+e.text-wrap
							+e.title Описание проекта
							+e.text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
						+e.link-wrap
							+e.pic-wrap
								+pic(`more-Portfolio-Ricol.png`)
							+e.portfolio-link(href="#") Перейти на сайт
						


	// end sPrioritize-19
