mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		.container
			.row
				.col-auto.d-lg-none
					+mob-mnu
				.col-auto
					+e.logo(href="#")
						img.res-i(src="img/svg/logo.svg", alt="")
				.col.d-none.d-lg-block
					+top-nav()
				.col-auto
					+e.buttons.d-none.d-md-flex
						+e.lk(href="#")
							+icon('user')
							span Личный  кабинет
						+e.basket(href="#")
							+icon('shopping-cart')
							+e.quantity 0
						+e.btn.btn.btn-dark.link-modal(href="#modal-onlineStore")
							span.d-none.d-md-inline Нужна консультация?
					+e.btn.d-md-none.link-modal(href="#modal-onlineStore")
						+icon('tel')

	// end topLine