mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		.container
			.row.justify-content-between
				.col-auto.d-lg-none
					+mob-mnu
				.col-auto
					+e.logo(href="#")
						img.res-i(src="img/svg/logo.svg", alt="")
				.col.d-none.d-lg-block
					+top-nav()
				.col-auto
					+e.buttons.d-none.d-md-flex
						+e.lk(href="#")
							+icon('user')
							span Личный  кабинет
						+e.basket(href="#")
							+icon('shopping-cart')
							+e.quantity 0
						+e.btn.btn.btn-dark.link-modal(href="#modal-call" data-title=`<span class="text-primary">Обратная</span> связь`)
							span.d-none.d-md-inline Нужна консультация?
					+e.btn.d-md-none(href="tel:+74999387838")
						+icon('tel')

	// end topLine