// start .topLine
.topLine {
	padding-top: rem(30);
	padding-bottom: rem(28);
	background-color: #fff;

	.icon {
		font-size: rem(18);
		color: #686868;
	}

	&__btn {
		@include media-breakpoint-only(xl) {
			padding: .375rem rem(10) .375rem rem(10);
		}
		@include media-breakpoint-down(sm) {
			padding: rem(5) rem(3);
		}
	}

	&__logo {
		@include media-breakpoint-up(lg) {
			margin-top: rem(10);
		}
		display: block;
		@include media-breakpoint-down(sm) {
			max-width: 110px;
		}
	}

	&__quantity {
		background-color: $primary;
		color: #fff;
		border-radius: 50%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		flex-shrink: 0;
		width: rem(18);
		height: rem(18);
		font-size: 12px;
		font-weight: 500;
	}

	&__buttons {
		display: flex;
		align-items: center;
	}

	&__basket {
		margin-right: rem(3);
		@include media-breakpoint-up(sm) {
			margin-right: rem(10);
		}
		@include media-breakpoint-up(xxl) {
			margin-right: rem(29);
		}
		.icon {
			margin-right: 4px;
		}
	}

	&__lk {
		margin-left: auto;
		margin-right: rem(3);
		@include media-breakpoint-up(sm) {
			margin-right: rem(10);
		}
		@include media-breakpoint-up(xxl) {
			margin-right: rem(30);
		}
		display: flex;
		align-items: center;
		.icon {
			margin-right: 6px;
		}
		span {
			color: $body-color;
			font-size: $small;
			line-height: 1;
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}

	.row {
		@include media-breakpoint-down(md) {
			@include roww(5px);
			justify-content: space-between;
		}
		@include media-breakpoint-down(lg) {
			align-items: center;
		}
		@include media-breakpoint-only(lg) {
			@include roww(20px);
		}
		@include media-breakpoint-only(xl) {
			@include roww(10px);
		}
	}

	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {} 

} // end.topLine


.navMenu {
	@include media-breakpoint-up(lg) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	margin-bottom: 0;

	&__link {
		font-size: $xsmall;
		@include media-breakpoint-up(xxl) {
			font-size: $small;
		}
		letter-spacing: 0.023em;
		color: $body-color;
		font-weight: 600;
	}

	&__item {
		&:not(:last-child) {
			margin-right: rem(15);
			@include media-breakpoint-up(xl) {
				margin-right: rem(17);
			}
			@include media-breakpoint-up(xxl) {
				margin-right: rem(29);
			}
		}
	}

	li {
		padding-bottom: 0;
		padding-left: 0;
		line-height: $line-height-base;
		&::before {
			content: none;
		}
	}

	&.mnu-sm {
		margin-bottom: rem(5);
		.navMenu__item {
			&:not(:last-child) {
				@include media-breakpoint-up(lg) {
					margin-right: rem(27);
				}
			}
		}
		.navMenu__link {
			font-weight: 400;
		}
	}

	.dropdown {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			height: 15px;
			width: 100%;
			top: auto;
			bottom: -15px;
			left: 0;
			background-color: transparent;
			border-radius: 0;

		}
		&:hover {
			.drop {
				transform: scale(1);
			}
			.drop-open {
				opacity: 1;
			}
		}
	}

	.drop-open {
		pointer-events: none;
		position: absolute;
		opacity: 0;
		@include mt;
		z-index: 6;
		top: rem(25);
		left: rem(20);
		background-color: #fff;
		width: 20px;
		height: 20px;
		border-left: solid 2px #eeeeee;
		border-top: solid 2px #eeeeee;
		transform: rotate(45deg);
	}

	.drop {
		@include media-breakpoint-up(lg) {
			transform: scale(0.3, 0);
			transform-origin: top left;
			position: absolute;
			left: rem(-10);
			top: rem(35);
			width: 230px;
			z-index: 5;
			background-color: #fff;
			padding: rem(15px) rem(20px);
			border: solid 2px #eeeeee;
		}
		padding-left: rem(15);
		@include mt;
		border-radius: $border-radius;

		&__item {
			font-weight: 500;
			&:not(:last-child) {
				@include media-breakpoint-up(lg) {
					margin-bottom: 10px;
				}
			}
		}

		&__link {
			color: $body-color;
			font-size: $xsmall;
			@include media-breakpoint-up(xxl) {
				font-size: $small;
			}
			&:hover {
				color: $primary;
			}
		}
	}
	
}

.mainPage {
	.topLine {
		background-color: transparent;
	}
}