mixin sMission(data)
	// start sMission
	+b.SECTION.sMission.section#sMission&attributes(attributes)
		.container
			+e.innerBlock
					
				.row
					+e.textCol.col-xl-8
						+b.section-title
							h2 Наша миссия
						ul.colum-2
							li Мы&nbsp;работаем для того, чтобы наши клиенты могли получать только высочайшее качество услуг на&nbsp;рынке Интернет-маркетинга по&nbsp;максимально доступным ценам.
							li Мы&nbsp;постоянно стремимся к&nbsp;достижению стопроцентной&nbsp;удовлетворенности наших заказчиков и&nbsp;проявлению их&nbsp;желания возвращаться к&nbsp;нам, за вновь оказанными услугами и&nbsp;поддержкой.
							li Мы&nbsp;ежедневно стараемся получать новые знания и&nbsp;совершенствовать качество работы.
							li Мы определенно любим помогать людям в создании, развитии и росте их бизнеса.
							li Мы&nbsp;постоянно стремимся к&nbsp;достижению стопроцентной удовлетворенности наших заказчиков и&nbsp;проявлению их&nbsp;желания возвращаться к&nbsp;нам, за&nbsp;вновь оказанными услугами и&nbsp;поддержкой.
							li Мы&nbsp;всегда останемся открытыми для диалога и&nbsp;гибкими в&nbsp;ценообразовании!
					.col.d-none.d-xl-flex
						+pic('tree.png')
	// end sMission