// start .sMission
.sMission {
	padding-top: rem(15);

	&__innerBlock {
		background-color: $light;
		padding: rem(0) rem(23) rem(10);
		@include media-breakpoint-up(md) {
			padding: rem(30) rem(27) rem(40) rem(47);
		}
	}

	.section-title {
		padding-bottom: calc(var(--sTPB) * 3);
		@include media-breakpoint-up(md) {
			padding-bottom: 0;
		}
	}


	li {
		padding-left: 0;
		@include media-breakpoint-up(sm) {
			padding-left: rem(24);
		}
		padding-bottom: rem(25);
		@include media-breakpoint-up(md) {
			padding-bottom: rem(48);
		}
		line-height: 1.3;
		&::before {
			position: static;
			display: block;
			width: 67px;
			height: 4px;
			border-radius: 0;
			margin-bottom: rem(18);
			@include media-breakpoint-up(sm) {
				margin-left: rem(-24);
			}
		}
	}

	&__textCol {
		padding-top: rem(20);
	}


	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sMission