mixin sFAQ()
	// start sFAQ
	+b.SECTION.sFAQ#sFAQ&attributes(attributes) 
		.container
			+b.section-title(class="wow  animate__fadeInUp "   )
				h2 	Вопросы и ответы
			+e.blocks-box
				+blockFAQ('Каким образом реализована защита сервера от постороннего вмешательства, и будет ливозможность переноса программы на наш сервер?')
				+blockFAQ('Кто будет иметь доступ к информации на Вашем сервере? ')
				+blockFAQ('Аренда сервера входит в стоимость программы? ')
				+blockFAQ('В программе есть возможность удаления готовых отчетов и протоколов в случае ошибочного внесения в архив? ')
				+blockFAQ(' Может ли специалист видеть работы других специалистов организации?')
				+blockFAQ(' В случае приобретений программы на 1 рабочее место, сколько предоставляется ролей?')
				+blockFAQ('Есть ли возможность редактирования таблиц технических записей, а именно:')
					ul
						li  возможность устанавливать изначальные значения для заполнения в ноль;
						li  изменение величины ячеек для заполнения;
						li  добавление или удаление строк;
						li  редактирование строк;
						li  добавление новых таблиц?
				+blockFAQ('Есть ли возможность редактировать содержание граф при заполнении тех. записей самому специалисту? ')
				+blockFAQ(' Существует ли иные шаблоны для различных лифтов? (для разных скоростей (0,5; 0,71; 1), для лифтов с проводником и без, с распашными или автоматическими дверьми и т.д.) А так же возможность добавления шаблонов для ТО?')
				+blockFAQ('В какой форме происходит скачивание? ')
				+blockFAQ('Формирует ли программа журналы выдачи протоколов испытаний? ')
				+blockFAQ('Какими планшетами можно пользоваться? ')
	 
			 
	// end sFAQ

mixin blockFAQ(headlineTxt, displayClass='')
	+e.block(class="wow  animate__fadeInUp "   )
		+e.block-header.block-header-js(class=displayClass)
			+e.headline=headlineTxt
				block
			+e.open-btn
		+e.block-content.block-content-js(class=displayClass)
			p К ячейке с информацией о конкретной организации будут иметь доступ специалисты организации, получившие пароли и логины. Право на выдачу логина и пароля есть только у администратора организации. Доступа к данной информации не будет у других лиц. Под каждую организацию создаются свои формы с фирменным бланком, ссылками на разрешительные документы и прочее.