mixin sFAQ()
	// start sFAQ
	+b.sFAQ.section&attributes(attributes) 
		.container
			+b.section-title
				h2 Популярные вопросы
			mixin itemDrop(t)
				+b.drop-accardion-block
					+e.title.drop-accardion-js
						+icon("plus-drop")
						strong= t 
					+e.body.drop-accardion-toggle-js
						p Как мы с вами уже выяснили, для разработки Интернет-магазина на 1С-Битрикс нам потребуется как минимум три специалиста, работа которых строится поэтапно. Сначала делается дизайн, затем верстка, затем программирование – интеграция с системой управления. И хочется отметить, что в целях «экономии», мы намерено не указали контент-менеджера, копирайтера, тестировщика, разработчика технического задания, ответственного за проект менеджера. 
							br
							| В любом случае, даже если вы возьмете на себя роль всех тех, кого мы не указали, как минимум троих вам всё-таки придется искать. Это первый и очень важный недостаток. 
							br
							strong  В создании Интернет-магазинов принимают участие минимум три специалиста: 
						ol
							li Веб-дизайнер
							li HTML-верстальщик 
							li PHP-программист 
						p
							strong Средняя зарплата в РФ у перечисленных специалистов следующая: 
						ul
							li Веб-дизайнер: 70 – 80 тысяч рублей в месяц / 3 – 3,5 т.р. в день;  
							li HTML-верстальщик: 70-100.000 тысяч рублей / 3 – 4,3 т.р. в день; 
							li PHP-программист: 100 – 150 тысяч рублей: / 4,3 – 6,5 т.р. в день. 
						p Основное преимущество веб-студии в том, что она собирает и объединяет специалистов. Как правило, специалистов каждого из направлений в веб-студиях несколько. В хорошей веб-студии, как правило, существует понятие взаимозаменяемости. В связи с чем, вас не коснется проблема исчезновений специалистов и срывов сроков. 
							br
							| Хорошая веб-студия обязательно приставит к вам индивидуального менеджера проекта, который будет работать с вами от начала и до конца. Хорошая веб-студия выяснит и учтет все ваши пожелания, составит техническое задание на разработку #[a(href="#") Интернет-магазина], сделает прототипы дизайн-макетов и только потом перейдет к созданию. 
			div
				+itemDrop('Почему хороший Интернет-магазин на Битрикс не может стоить дешево?')
				+itemDrop('Преимущество в виде «цены» перекрывает все недостатки! ')
				+itemDrop('Я нашел кучу дешевых предложений создания Интернет-магазина «под ключ»! ')
				+itemDrop('Почему хороший Интернет-магазин на Битрикс не может стоить дешево?')
				+itemDrop('Преимущество в виде «цены» перекрывает все недостатки! ')
				+itemDrop('Я нашел кучу дешевых предложений создания Интернет-магазина «под ключ»! ')
			
	// end sFAQ