 
	  
.soc{
	margin: 0 rem(-22px);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(22px);
		border: 2px solid #2b2e30;
		border-radius: 50%;
		width: rem(48px);
		height: rem(48px);
		@include mt;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover{
			background-color: #fff;
			border-color: #fff;
			.icon {
				color: $primary;
			}
		}
		

	}
	.icon{
		font-size: rem(18);
		color: #c7c7c7;
		@include mt;
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

