// start .sCards
.sCards {
	
	padding-bottom: calc(var(--sPB) / 2.6);




	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}

	//slider
	&--slider {
		.container {
			position: relative;
		}
		.cardItem__picCol {
			justify-content: center;
		}

		.swiper-slide {
			height: auto;
		}

		.cardItem__textCol {
			padding-top: rem(33);
			padding-left: rem(53) !important;
		}

		.cardItem__title {
			max-width: rem(280);
		}

		p {
			max-width: rem(280);
		}
	}
	&__nextBtn {
		outline: none;
		position: absolute;
		top: 46%;
		right: rem(-10);
		z-index: 10;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
		width: rem(52px);
		height: rem(52px);
		display: flex;
		align-items: center;
		justify-content: center;
		.icon {
			transform: rotate(180deg);
			font-size: rem(17);
			color: $gray-700;
		}
	}
	//slider end
} // end.sCards

.cardItem {
	border-radius: $border-radius;
	height: calc(100% - 30px);
	margin-bottom: 30px;

	.row {
		height: 100%;
		@include roww(5px)
	}
	&__textCol {
		padding-top: rem(25);
		padding-left: rem(25) !important;
		@include media-breakpoint-up(sm) {
			width: 53% !important;
		}
		padding-bottom: rem(30);
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__picCol {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__btnWrap {
		margin-top: auto;
	}

	&__title {
		@extend .h4;
	}

	p {
		line-height: 1.3;
	}
}