mixin sCards(data)
	// start sCards
	+b.SECTION.sCards.section&attributes(attributes)
		.container
			+b.section-title
				h2.mw-100 Битрикс24
				
			.row
				.col-lg-4
					+cardItem('Купить лицензию Битрикс24','Коробочные и облачные решения Битрикс24 для Вашего бизнеса','Выбрать','cardImg-1')(style="background-color: #a1e6fc;")
				.col-lg-4
					+cardItem('Заказать внедрение Битрикс 24','Наши специалисты разработали свои решения в виде готовых «пакетов» услуг','Заказать','cardImg-2')(style="background-color: #befdf3;")
				.col-lg-4
					+cardItem('Возможности Битрикс24','Узнайте все возвожности Битрикс24','Узнать','cardImg-3')(style="background-color: #e0ecfe;")

mixin cardItem(title,text,btn,img,sl)
	+b.cardItem&attributes(attributes)
		.row
			+e.textCol.col-6
				+e.title!= title
				if text
					p!= text
				else
					p Вариантов: #[strong 3]
						br
						| Правок: #[strong 2]
						br
						| Правок в списке: #[strong неограничено]

				+e.btnWrap
					if block
						block
					else
						+e.btn.btn.btn-primary.btn-primary-shadow-sm(href="#")= btn
			+e.picCol.col
				if sl
					picture
						source.swiper-lazy(srcset="#" data-srcset=`img/@2x/webp/${img}.webp` type="image/webp")
						img.swiper-lazy(src="#" data-src=`img/@2x/${img}.png`, alt="")
				else
					+pic(`${img}`,'','')
	// end sCards


mixin sCards-slider(data)
	// start sCards
	+b.SECTION.sCards--slider.sectionSlider&attributes(attributes)
		.container
			+b.section-title
				h2.mw-100  Популярные услуги
			+e.prevBtn.d-none.d-lg-flex
				+icon('arrow-r')
			+e.nextBtn.d-none.d-lg-flex
				+icon('arrow-r')
			.swiper-container.cardSlider
				.swiper-wrapper
					.swiper-slide
						+cardItem('Создание уникальных логотипов','Гибкие пакеты для разработки логотипа','Подробнее','cardSlider-1','sl')(style="background-color: #fadb88;")
					.swiper-slide
						+cardItem('Фирменный стиль для Вашего бизнеса','Разработка фирменного стиля является важной составляющей формирования имиджа вашей компании','Подробнее','cardSlider-2','sl')(style="background-color: #c7f4fa;")
					.swiper-slide
						+cardItem('Фирменный стиль для Вашего бизнеса','Разработка фирменного стиля является важной составляющей формирования имиджа вашей компании','Подробнее','cardSlider-2','sl')(style="background-color: #c7f4fa;")



mixin sCards-02(data)
	// start sCards
	+b.SECTION.sCards.section&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Сколько стоит разработка интернет-магазина?
				p Более точно можно будет выполнить расчет только после получения информации о&nbsp;ваших пожеланиях. Цены ориентировочные для стандартных проектов.
			.row
				.col-lg-4
					+cardItem('Интернет-магазин за 180 000 рублей','для малого бизнеса и начинающим','Подробнее','cardImg-im-1')
						+e.btn.btn.btn-primary.btn-primary-shadow-sm(href="#") Подробнее
				.col-lg-4
					+cardItem('Интернет-магазин за 220 000 рублей','для крупного бизнеса с точками по всей стране','Подробнее','cardImg-im-2')
				.col-lg-4
					+cardItem('Соберите свой интернет-магазин','выберите подходящий функционал именно Вам','Собрать','cardImg-im-3')
						+e.btn.btn.btn-primary.btn-primary-shadow-sm.scroll-link(href="#sCalc") Собрать

mixin sCards-02-2(data)
	// start sCards
	+b.SECTION.sCards.section&attributes(attributes)
		.container
			+b.section-title.pt-5
				h2.mw-100 Наши другие предложения
			.row
				.col-lg-6
					+cardItem(`Готовые решения  <br> на&nbsp;1C-bitrix`,`Быстрый запуск за&nbsp;пару дней`,'Подробнее','cardImg-im-2-1')(class="cardItem--lg" style="background-color: #a1d5ff;")
				.col-lg-6
					+cardItem(`Интернет-магазин <br> в&nbsp;рассрочку`,`Лучшее антикризисное предложение и&nbsp;прозрачная схема оплаты`,'Подробнее','cardImg-im-2-2')(class="cardItem--lg" style="background-color: #d5c7fd;")


mixin sCards-03(data)
	// start sCards
	+b.SECTION.sCards.section&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Сколько стоит разработка Landing page?
				p Указанная выше цена на&nbsp;создание логотипа&nbsp;&mdash; актуальна, фиксирована и&nbsp;прозрачна. Мы&nbsp;гарантируем, что стоимость на&nbsp;выбранное пакетное предложение не&nbsp;изменится ни&nbsp;в&nbsp;коем случае. В&nbsp;результате нашей работы, вы&nbsp;получите красивый, уникальный и&nbsp;качественный логотип для своей компании.
			.row
				.col-lg-6
					+cardItem('Создание Landing page за 45 000 рублей','Авторский индивидуальный дизайн включающий 6&nbsp;экранов','Заказать','cardImg-land-1')(class="cardItem--lg")
						+btn-modal('Заказать ',`<span class="text-primary">Заказать</span> Landing page `)
				.col-lg-6
					+cardItem('Индивидуальный рассчет Вашего лендинга','Заказажите индивидуальный рассчет <br> проекта ','Заказать','cardImg-land-2')(class="cardItem--lg")
						+btn-modal('Заказать ',`<span class="text-primary">Заказать</span> Landing page `)
mixin sCards-05(data)
	// start sCards
	+b.SECTION.sCards.section&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Сколько стоит разработка уникального логотипа?
				p Указанная выше цена на&nbsp;создание логотипа&nbsp;&mdash; актуальна, фиксирована и&nbsp;прозрачна. Мы&nbsp;гарантируем, что стоимость на&nbsp;выбранное пакетное предложение не&nbsp;изменится ни&nbsp;в&nbsp;коем случае. В&nbsp;результате нашей работы, вы&nbsp;получите красивый, уникальный и&nbsp;качественный логотип для своей компании.
			.row
				.col-lg-6
					+cardItem(`Создание логотипа за&nbsp;14&nbsp;900 рублей`,'','Заказать','cardImg-logo-1')(class="cardItem--lg")
						+btn-modal('Заказать ',`<span class="text-primary">Заказать</span> логотип`)
				.col-lg-6
					+cardItem(`Создание логотипа за&nbsp;19&nbsp;900 рублей`,'','Заказать','cardImg-logo-2')(class="cardItem--lg")
						+btn-modal('Заказать ',`<span class="text-primary">Заказать</span> логотип`)