mixin sHave(data)
	// start sHave
	+b.SECTION.sHave.section#sHave&attributes(attributes)
		.container
			+e.inner
				+pic("have-img.png").d-none.d-xl-block
				+e.block
					h3 У Вас еще нет #[span.text-primary Битрикс24]?
					p Мы&nbsp;готовы обсуждать индивидуальный проект любой сложности, проанализировать конкурентов, учесть Ваши пожелания, которые не&nbsp;указаны в&nbsp;предложениях и&nbsp;рассчитать стоимость внедрение Битрикс24
					a.btn.btn-primary(href="#") Индивидуальный расчет
	// end sHave