mixin sHaveBody(data)
	// start sHave
	+b.SECTION.sHave.section#sHave&attributes(attributes)
		.container
			+e.inner
				+pic("girl.png").d-none.d-xl-block
				+e.block
					block
	// end sHave
mixin sHave(data)
	+sHaveBody()
		h3 У Вас еще нет #[span.text-primary Битрикс24]?
		p Мы&nbsp;готовы обсуждать индивидуальный проект любой сложности, проанализировать конкурентов, учесть Ваши пожелания, которые не&nbsp;указаны в&nbsp;предложениях и&nbsp;рассчитать стоимость внедрение Битрикс24
		br
		a.btn.btn-primary.link-modal(href="#modal-call" data-title='<span class="text-primary">Заказать</span>  индивидуальный расчет ') Индивидуальный расчет 
mixin sHave20(data)
	+sHaveBody()
		h3   #[span.text-primary Нет времени] разбираться?
		p Мы&nbsp;готовы обсуждать индивидуальный проект любой сложности, проанализировать конкурентов, учесть Ваши пожелания, которые не&nbsp;указаны в&nbsp;предложениях и&nbsp;рассчитать стоимость создания Интернет-магазина на&nbsp;1С-битрикс.
		br
		a.btn.btn-primary.link-modal(href="#modal-call" data-title='<span class="text-primary">Заказать</span>  индивидуальный расчет ') Индивидуальный расчет 
mixin sHave17(data)
	+sHaveBody()
		h3 Сомневаетесь в выборе #[span.text-primary лицензии]?
		p Мы&nbsp;готовы обсуждать индивидуальный проект любой сложности, проанализировать конкурентов, учесть Ваши пожелания, которые не&nbsp;указаны в&nbsp;предложениях и&nbsp;рассчитать стоимость внедрение Битрикс24
		a.btn.btn-primary.link-modal(href="#modal-call" data-title='<span class="text-primary">Заказать</span>  индивидуальный расчет ') Индивидуальный расчет 
mixin sHave-05(data)
	+sHaveBody()
		h3   #[span.text-primary Обсудить] разбираться?
		p Мы&nbsp;готовы обсуждать индивидуальный проект любой сложности, проанализировать конкурентов, учесть Ваши пожелания, которые не&nbsp;указаны в&nbsp;предложениях и&nbsp;рассчитать стоимость создания Интернет-магазина на&nbsp;1С-битрикс.
		br
		a.btn.btn-primary.link-modal(href="#modal-call" data-title='<span class="text-primary">Заказать</span>  логотип ') Оставить заявку
mixin sHave-08(data)
	+sHaveBody()
		h3   #[span.text-primary Нет времени] разбираться?
		p Позвоните нам или оставьте заявку на&nbsp;сайт или Интернет-магазин в&nbsp;рассрочку. В&nbsp;ближайшее время мы&nbsp;с&nbsp;вами свяжемся и&nbsp;всё расскажем!&quot;
		br
		a.btn.btn-primary.link-modal(href="#modal-call" data-title='<span class="text-primary">Заказать</span>  логотип ') Оставить заявку
mixin sHave-11(data)
	+sHaveBody().border-b
		h3 У Вас еще нет #[span.text-primary Битрикс24]?
		p Мы&nbsp;готовы обсуждать индивидуальный проект любой сложности, проанализировать конкурентов, учесть Ваши пожелания, которые не&nbsp;указаны в&nbsp;предложениях и&nbsp;рассчитать стоимость внедрение Битрикс24
		br
		a.btn.btn-primary.link-modal(href="#modal-call" data-title='<span class="text-primary">Заказать</span>  индивидуальный расчет ') Индивидуальный расчет 