// start .sCompetences
.sCompetences {
	padding-bottom: calc(var(--sPB) * 1.15);
	.container {
		position: relative;
	}

	.section-title {
		padding-bottom: calc(var(--sTPB) * 2);
	}

	&__nav {

	}

	&__prev, &__next {
		position: absolute;
		top: 54%;
		z-index: 10;
		outline: none;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
		background-color: #ffffff;
		.icon {
			font-size: rem(17);
		}
	}

	&__prev {
		left: rem(0);
		@include media-breakpoint-up(md) {
				left: rem(-80);
			}
	}

	&__next {
		right: rem(0);
		@include media-breakpoint-up(md) {
				right: rem(-80);
			}
		.icon {
			transform: rotate(180deg);
		}
	}

	.container {
		@include media-breakpoint-up(md) {
			max-width: rem(750);
		}

	}


	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCompetences