// start .sCompetences
.sCompetences {
	padding-bottom: calc(var(--sPB) * 1.15);
	.container {
		position: relative;
		@include media-breakpoint-down(md) {
			padding-right: calc(var(--bs-gutter-x)*1.5);
			padding-left: calc(var(--bs-gutter-x)*1.5);
		}
		@include media-breakpoint-up(md) {
			max-width: rem(750);
		}
	}

	.section-title {
		padding-bottom: calc(var(--sTPB) * 2);
		@include media-breakpoint-up(md) {
			text-align: center;
		}
	}

	.swiper-container {
		@include media-breakpoint-down(lg) {
			overflow: visible;

			&::before {
				content: '';
				position: absolute;
				right: 100%;
				top: 0;
				background-color: #fff;
				z-index: 5;
				width: calc(100vw - 100%);
				height: 100%;

			}
		}
	}

	.swiper-slide {
		@include media-breakpoint-down(lg) {
			width: 25%;
		}
		@include media-breakpoint-down(md) {
			width: 40%;
		}
	}

	&__prev, &__next {
		position: absolute;
		top: 50%;
		@include media-breakpoint-up(md) {
			top: 54%;
		}
		z-index: 10;
		outline: none;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
		background-color: #ffffff;
		.icon {
			font-size: rem(17);
		}
	}

	&__prev {
		left: rem(0);
		@include media-breakpoint-up(lg) {
				left: rem(-80);
			}
	}

	&__next {
		right: rem(0);
		@include media-breakpoint-up(lg) {
				right: rem(-80);
			}
		.icon {
			transform: rotate(180deg);
		}
	}


	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCompetences