mixin mnu()
	-
		var nav= { 
			"Наши работы":"#",
			"Цены":"#",
			"Калькулятор":"#",
			"Акции":"#" ,
			"Заказать":"#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		li.menu-item.menu-item-has-children
			a(href="#" itemprop="url") О нас
			ul.sub-menu
				-
					var subnav= { 
						"Строительство загородных домов":"#",
						"Отделка загородных домов":"#",
						"Покраска деревянных домов":"#",
						"Штукатурные фасады загородных домов":"#" ,
						}
				each sublinkPatch, sublinkName in nav
					li.menu-item(itemprop="item" ): a(href= sublinkPatch itemprop="url")= sublinkName
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu
mixin mnu()
	+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")&attributes(attributes)
		+e.LI.item.dropdown( itemprop="item" )
			+e.A.link(href="#") Сайты
			+e.iconWrap.drop-open.drop-accardion-js.d-lg-none
				+icon('arrow-r')
			+b.UL.drop.drop-accardion-toggle-js
				+e.LI.item.back.accardion-close-js.d-lg-none
					+icon('arrow-r')
					span Назад
				+e.LI.item
					+e.A.link(href="#" itemprop="url") Лендинг пейдж
				+e.LI.item
					+e.A.link(href="#" itemprop="url") Корпоративные сайты
				+e.LI.item
					+e.A.link(href="#" itemprop="url") Интернет-магазины
				+e.LI.item
					+e.A.link(href="#" itemprop="url") В рассрочку
				+e.LI.item
					+e.A.link(href="#" itemprop="url") Техническая поддержка
		+e.LI.item( itemprop="item" ): +e.A.link(href="#") Брендирование
		+e.LI.item( itemprop="item" ): +e.A.link(href="#") Битрикс24
		+e.LI.item( itemprop="item" ): +e.A.link(href="#") Готовые решения
		+e.LI.item( itemprop="item" ): +e.A.link(href="#") Лицензии


mixin mnu-sm()
	-
		var nav= {
			"Портфолио":"/",
			"Блог  ":"#",
			"Контакты":"#"
			}
	+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")&attributes(attributes)
		each linkPatch, linkName in nav
			+e.LI.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName
//- /menu